[2014-07-16 16:09] bluetidepro opened #2 "New Icons?"
I see you provide a template for apps you did not create icons for.

If I end up making some custom ones for some popular apps you may have forgotten, would you want me to do a pull request to add them to your list of ones you have?

Or do you just want people to submit requests for icons to be added?

How would you prefer to handle it? Amazing project, by the way! :D

[2014-07-16 17:34] adamclerk opened #3 "Icon Request: Lync"
Microsoft Lync
![lync_icon](https://cloud.githubusercontent.com/assets/67539/3602711/5acd31e0-0d0f-11e4-9dcd-e81f731d3e6a.png)

[2014-07-16 17:36] adamclerk opened #5 "Icon Request: IntelliJ"
intelliJ
![idea](https://cloud.githubusercontent.com/assets/67539/3602737/a314a262-0d0f-11e4-8f70-6b1e8d6397a2.png)

[2014-07-16 17:44] thoov opened #6 "Icon Request: Hipchat & 1Password"

[2014-07-16 17:53] noahkconley opened #7 "Icon Request: microsoft onenote, more utilities"

[2014-07-16 18:23] imajes opened #8 "Icon Reqs - Icon Box, TweetBot, Adium, MacVim, Linkinus (chat icon)"
Hey-

specific as mentioned, but wondered if we could get a set of generic set - chat, edit, etc?

[2014-07-16 18:51] godDLL opened #9 "What is the LICENSE?"
Can I use them on the web? What about commercial usage?

[2014-07-16 20:03] peterlada opened #10 "Icon Request: Slack"
Mac App Store: Slack

[2014-07-16 20:04] peterlada opened #11 "Icon Request: Keynote, Pages, Numbers"

[2014-07-16 20:04] peterlada opened #12 "Icon Request: Folders and Volumes"

[2014-07-16 20:12] #11 closed, assigned to nobody

[2014-07-16 20:27] Midar opened #13 "Icon for Adium"
Can we have an icon for Adium? I guess this is one of the most used applications :).

[2014-07-17 09:56] bstrahija opened #16 "Icon request: Sequel Pro"

[2014-07-17 15:54] jedahan opened #17 "Icon request: Textual"
http://www.codeux.com/textual/

[2014-07-17 17:35] darthtrevino opened #18 "Icon Request: WebStorm"

[2014-07-17 19:15] PascaleGourdeau opened #19 "Icon Request: Matlab, Adobe Reader, Emacs, FileZilla, LyX, OpenOffice, SmartConverter, SourceTree, Todoist, Virtual Box"
Matlab, Adobe Reader, Emacs, FileZilla, LyX, OpenOffice, SmartConverter, SourceTree, Todoist, Virtual Box

Great work Tina :)

[2014-07-18 01:09] #2 closed, assigned to nobody

[2014-07-18 01:33] #5 closed, assigned to nobody

[2014-07-18 01:35] #16 closed, assigned to nobody

[2014-07-18 10:50] samkellett opened #21 "Icon Request: YNAB, GitX, Transmission, Vienna"

[2014-07-18 11:03] dbkaplun opened #22 "Icon request: GitX, VirtualBox, pgAdmin3, Wake Up Time"

[2014-07-19 18:39] t2 opened #24 "Icon Request: RubyMine, AirMail, HipChat, VMWare Fusion, Sketch 3, Toad"
RubyMine: http://www.jetbrains.com/ruby/
AirMail: http://airmailapp.com/
HipChat: https://www.hipchat.com/
VMWare Fusion: http://masonsklut.com/blog/wp-content/uploads//2009/02/vmware-fusion-icon.png
Sketch 3: http://bohemiancoding.com/sketch/
Toad: http://www.toadworld.com/cfs-file.ashx/__key/communityserver-blogs-components-weblogfiles/00-00-00-00-59/dock.png

[2014-07-20 14:43] jawrainey opened #26 "A separate repo for the website"
I think it would be a good idea to separate the [current website source](https://github.com/tinalatif/flat.icns/tree/master/website) to different repo. This would allow for:
1. The [web icons](https://github.com/tinalatif/flat.icns/tree/master/website/web-icons) to be updated automatically after each pull-request of this repo, which enables the website to stay up-to-date with the [icons](https://g

[2014-07-20 20:04] dave-green-uk opened #27 "Wunderlist"
An icon for Wunderlist, a great to-do list manager would be fantastic!
https://www.google.co.uk/search?q=wunderlist+icon

Love the icons, great work!

[2014-07-20 20:27] dave-green-uk opened #28 "Day One"
A great diary/personal blog app:
https://www.google.co.uk/search?q=day+one+icon

[2014-07-20 23:42] sindresorhus opened #29 "Icon Request: Tower"
Tower: http://www.git-tower.com

[2014-07-21 02:05] #6 closed, assigned to nobody

[2014-07-21 02:06] #13 closed, assigned to nobody

[2014-07-21 02:09] #7 closed, assigned to nobody

[2014-07-21 07:31] drezha opened #30 "Icon Request: nValt"
![images](https://cloud.githubusercontent.com/assets/328105/3640791/0a617cdc-10a9-11e4-8842-0f7331aa7bc7.jpg)

[2014-07-21 14:43] dwagnonuda1 opened #32 "Icon request: Gimp"

[2014-07-21 17:01] gokmen opened #33 "Icon request: Sourcetree, PivotalBooster"
Web pages: http://www.sourcetreeapp.com/ http://pivotalbooster.com/

[2014-07-21 18:47] tomauty opened #34 "Icon Request: TextExpander, Rested"
TextExpander: http://www.blogcdn.com/www.tuaw.com/media/2010/03/textexpander-3-app-icon-256x256.png

Rested: http://a4.mzstatic.com/us/r30/Purple/v4/75/4d/6c/754d6c8f-0935-2af0-8db0-0f759de9c28b/New_icon.175x175-75.png

Sorry for adding one late, didn't wanna open another issue. Rested is your pretty standard cloud...

[2014-07-21 22:07] micahhausler opened #35 "icon request: pycharm"
Link to original icon
https://www.dropbox.com/s/awfna2en084g91w/PyCharm.icns

[2014-07-22 12:37] jhoogeboom opened #37 "install.sh misses many apps, blurry icons"
Just wanted to let you know the install.sh script, while cool, since it provides a way to install the icons if you are on 1.9.4 which doesn't work with liteIcons, doesn't seem to find all apps.

For example calendar, 1password, ms office etc. although they are provided in the folder as icns.

Also it seems to place a blurrier version, my machine is retina so maybe that has to do with it. Here you

[2014-07-23 01:00] jamez14 opened #38 "Icon Request: Xamarin Studio"
Xamarin Studio would be great!

Also Xamarin.iOS Build Host would be cool, but I don't want to push it.

I attached a photo for reference, Xamarin Studio on the left and Build Host on the right
![screen shot 2014-07-22 at 8 59 40 pm](https://cloud.githubusercontent.com/assets/2854919/3667449/a575c4f6-1204-11e4-8a0a-8d58e34ee9a4.png)

[2014-07-24 14:30] LekisS opened #39 "Icon Request: Sparrow"
Icon for http://sparrowmailapp.com/mac.php

![sparrow](https://cloud.githubusercontent.com/assets/28733/3689296/cc68be5c-133e-11e4-9240-f4202c9481cd.png)

[2014-07-26 15:16] dnivi3 opened #40 "Icon Request: OmniFocus"
Requesting icon for OmniFocus: http://www.omnigroup.com/omnifocus/

Original icon below to the left (would like it to look more like the iPhone one; far right):
![screenshot 2014-07-26 17 13 51](https://cloud.githubusercontent.com/assets/1163576/3711481/c605f6d4-14d7-11e4-97fc-3c20af67de0b.jpg)

[2014-07-26 15:19] dnivi3 opened #41 "Icon Request: Scrivener"
Icon request for Scrivener: http://www.literatureandlatte.com/scrivener.php

Original icon below:

![scrivener-512](https://cloud.githubusercontent.com/assets/1163576/3711491/14f050be-14d8-11e4-8fdf-3d3d6b0bf3fb.png)

[2014-08-08 18:18] mwdavies opened #48 "Icon Request: League of legends"
Love the dock! Just need this one!

http://th08.deviantart.net/fs51/150/f/2009/265/8/f/League_Of_Legends_by_DKman.png

Thanks!!!

[2014-08-11 18:48] Traiteur opened #49 "Icon Request: Adobe Lightroom"
The only two Adobe programs that I constantly use are Photoshop and Lightroom, and you've made an amazing Photoshop icon, so it'd be awesome if you could make a Lightroom one as well. :)

[2014-08-12 06:36] reduxd opened #50 "Icon Request: Radium"
Radium is a great radio player, and one of the only apps missing icons.

[2014-08-15 08:13] willium opened #51 "Icon Request: iStudiez"
http://istudentpro.com/

[2014-08-15 08:13] willium opened #52 "Icon Request: Dashlane"
http://dashlane.com/
currently using 1password, but a specific one would be dope.

[2014-08-16 08:30] justmytwospence opened #53 "Icon Request: calibre"
http://calibre-ebook.com/

Their default icon stinks a big one.

[2014-08-20 13:01] dwag3 opened #54 "Request: Mailbox"
http://www.mailboxapp.com

[2014-08-20 13:06] #54 closed, assigned to nobody

[2014-08-21 00:04] #27 closed, assigned to nobody

[2014-08-21 00:13] #28 closed, assigned to nobody

[2014-08-21 00:31] #10 closed, assigned to nobody

[2014-08-21 00:55] #3 closed, assigned to nobody

[2014-08-23 16:51] dwag3 opened #55 "Icon Request: Mac mini"
I have an automator app in my dock that opens a VNC window to my media center Mac mini and right now I'm using the icon shown at http://www.iconarchive.com/show/flat-icons-by-yellowicon/MacMini-icon.html. Something that fits the flat.icns style would be awesome.

[2014-09-03 01:47] tinalatif opened #56 "Icon request: Zotero"

[2014-09-10 03:19] jhil opened #57 "Icon request: Slack"
https://slack.com/

[2014-09-11 00:10] #57 closed, assigned to nobody

[2014-09-16 19:58] bharley opened #59 "Icon request: PHPStorm"
http://www.jetbrains.com/phpstorm/

[2014-09-17 19:54] TasyaHarrington opened #60 "Request: iOS Simulator, TextWrangler, iExplorer, and TaskMate"

[2014-09-25 21:48] bluetidepro opened #61 "Icon Request: 3Hub"
The app url: http://www.3hubapp.com/

[2014-09-25 21:48] bluetidepro opened #62 "Icon Request: ProCSSor"
app url: http://procssorapp.com/

[2014-09-25 21:49] bluetidepro opened #63 "Icon Request: CodeKit"
app url: https://incident57.com/codekit/

[2014-09-25 21:50] bluetidepro opened #64 "Icon Request: Dash"
url: http://kapeli.com/dash

[2014-09-25 21:50] bluetidepro opened #65 "Icon Request: ImageOptim"
url: https://imageoptim.com/

[2014-10-22 02:13] WayneSan opened #66 "Icon Request: VOX"
URL: http://coppertino.com/vox/osx/

[2014-10-22 08:16] kudlajz opened #67 "Icon Request: The Unarchiver"
http://wakaba.c3.cx/s/apps/unarchiver

Thanks!

[2014-10-24 20:51] peterlada opened #68 "OSX Yosemite"
Website instructions for OSX Yosemite, please. It's way closer visually, so the instructions should be simpler?

[2014-10-29 13:20] AO16 opened #69 "icon request: clear"
http://realmacsoftware.com/clear

[2014-11-03 08:03] mitchmalone opened #70 "Icon request: Tower"
git-tower.com - this would be awesome

[2014-11-12 18:47] #26 closed, assigned to nobody

[2015-01-19 06:38] tpai opened #72 "Icon Request: Unity & MonoDevelop"
http://unity3d.com

http://www.monodevelop.com/

looking forward to it! ;)

[2015-01-24 19:13] balazsfeher commented on #69
+1

[2015-01-24 19:14] balazsfeher opened #73 "Icon Request: Adobe Lightroom"
https://lightroom.adobe.com/

[2015-02-10 00:49] TheQuantum commented on #67
+1

[2015-02-19 08:26] wjramos commented on #67
+1

[2015-03-17 04:06] myurtoglu opened #74 "Icon Requests: Grapher, iTerm, BetterSnapTool"
Here are the current icons:

- [Grapher](http://en.wikipedia.org/wiki/Grapher#/media/File:Grapher_icon.png)
- [iTerm](http://www.devspaper.com/wp-content/uploads/2014/07/Snip20140716_16.png)
- [BetterSnapTool](http://blog.boastr.net/bsticon.png)

Thank you very much!

[2015-03-20 05:17] wjramos commented on #74
![iterm](https://cloud.githubusercontent.com/assets/5625810/6746456/b1ab188c-ce85-11e4-94e6-055c5deb6bb2.png)

[2015-03-20 06:03] myurtoglu commented on #74
Cool!

[2015-03-20 06:39] wjramos commented on #74
![bettersnaptool](https://cloud.githubusercontent.com/assets/5625810/6747081/1c859a8c-ce91-11e4-9e89-701c7df6b6a2.png)
Do you think it needs the buttons?

[2015-03-20 06:46] wjramos commented on #74
![bettersnaptool](https://cloud.githubusercontent.com/assets/5625810/6747141/1b83e962-ce92-11e4-9cdf-76593c776404.png)

[2015-03-20 07:04] wjramos commented on #74
Here's some attempts at Grapher:

![grapher1](https://cloud.githubusercontent.com/assets/5625810/6747310/b990e8b0-ce94-11e4-93cb-3cc140f8c9d3.png)
![grapher2](https://cloud.githubusercontent.com/assets/5625810/6747311/b9917cda-ce94-11e4-991d-9b559fac6a36.png)
![grapher3](https://cloud.githubusercontent.com/assets/5625810/6747312/b995f3d2-ce94-11e4-87ee-a0145f657004.png)

[2015-03-20 07:12] myurtoglu commented on #74
Great work thank you! I am starting to use these now. Also, for the grapher, I just found [this icon](http://www.macupdate.com/images/icons256/20194.png), from [this app](http://www.macupdate.com/app/mac/20194/plot). Maybe something like this with your color patterns would be nice?

Thanks again!

[2015-03-20 07:16] wjramos commented on #68
If you are referring to 2D dock, in Yosemite the dock is now 2d, regardless of position - it is the same as Mavericks, but it can be made dark with the new Dark Mode under System Settings > General > Dark menu bar and dock

[2015-03-21 03:02] wjramos commented on #63
![codekit](https://cloud.githubusercontent.com/assets/5625810/6763479/141a3cee-cf3c-11e4-8970-0fac3c861d19.png)

[2015-03-23 00:03] wjramos commented on #74
Here's one more similar to the OSX icon for it - ![grapher3](https://cloud.githubusercontent.com/assets/5625810/6772191/1603fc3c-d0b5-11e4-931d-7d7768306b03.png)
I'll be working on an alternative style that follows the same color scheme but a different style

[2015-03-23 02:49] myurtoglu commented on #74
@wjramos great icons for grapher!

[2015-03-23 23:35] wjramos commented on #64
I'll take a crack at this one tonight

[2015-03-24 03:37] wjramos commented on #74
Of the ones posted, any preference?

[2015-03-24 04:15] TheQuantum commented on #74
Of the one’s you’ve posted so far, I’d say I like the first perspective hexagon (with the wider color ribbon).  I think the ribbon needs to be a bit larger though to really fit in with the other apps.  Maybe if you dropped the darker hexagon and just enlarged the ribbon?

[2015-03-24 05:29] myurtoglu commented on #74
@wjramos I liked the first two of your latest grapher icons most. I agree with @TheQuantum, dropping the darker hexagon may make things better.

[2015-03-24 17:54] wjramos commented on #74
![graphe6](https://cloud.githubusercontent.com/assets/5625810/6808876/f3dd36cc-d213-11e4-9224-191fea4ae982.png)
The grey looks a little strange now so I tried one with a stark white background as well
![grapher7](https://cloud.githubusercontent.com/assets/5625810/6808903/1f92ed66-d214-11e4-817b-7e907ecc0190.png)

[2015-03-25 06:10] wjramos commented on #64
![dash](https://cloud.githubusercontent.com/assets/5625810/6819239/fe61cc5e-d27a-11e4-9237-1069d3394767.png)
![dash2](https://cloud.githubusercontent.com/assets/5625810/6819240/fe63faba-d27a-11e4-9de9-b820ea91d0c0.png)

[2015-03-25 18:16] wjramos commented on #64
![dash](https://cloud.githubusercontent.com/assets/5625810/6831882/6000a18c-d2e0-11e4-97c7-d66a90f2e7cf.png)

[2015-03-27 01:19] christopherjtaylor opened #96 "Icon Requests: Dashlane, Authy, YNAB, Photos, Calibre, Alternote"
* Dashlane: http://dashlane.com
* Authy: http://authy.com
* YNAB: http://ynab.com
* Photos: https://www.apple.com/ios/whats-new/photos/
* Calibre: http://calibre-ebook.com
* Alternote: http://alternoteapp.com

Thanks!

[2015-03-27 04:17] wjramos commented on #74
What do you guys think? Should I try out some other ideas or submit a pull request?

[2015-03-27 04:36] wjramos commented on #96
![alternote](https://cloud.githubusercontent.com/assets/5625810/6862108/2cca8a28-d400-11e4-9bca-6f7db148ef81.png)

[2015-03-27 05:37] myurtoglu commented on #74
@wjramos I liked all your work so far, I am away from my mac for a few days but I liked the first and the last (with blue hexagon) most in your last post. It may be time to submit a pull request indeed!

[2015-03-27 13:54] TheQuantum commented on #74
The blue hexagon is my favorite and looks great in launchpad/on my dock.  I’d submit a pull request with that one.

[2015-04-13 17:04] CARMii opened #98 "Icon Request: Cinema 4D, Adobe Muse, Rhinoceros"
These are the original icon:

Cinema 4D: http://upload.wikimedia.org/wikipedia/en/d/d8/C4D_Logo.png
Adobe Muse: http://fc02.deviantart.net/fs71/f/2013/226/d/d/adobe_muse_cc_by_alej27-d6i5ixd.png
Rhinoceros: http://www.fluidray.com/wordpress/wp-content/uploads/2014/06/icon_rhino-big.png

[2015-04-15 22:23] jlina09640 opened #99 "Issue: Fix Calendar Update"
For some reason the Calendar app won't update on my dock or in my launchpad. Tried using LiteIcon to replace it, wouldn't work, no matter which icon I used, no matter how many times I restart my computer.

For some reason, it only updates my icon when I got directly to Applications through Finder. I tried removing Calendar from my dock in hopes that it will update, but no luck. My friend is having

[2015-04-16 14:32] TasyaHarrington commented on #99
I have this same issue with a couple apps. Every app that has this issue has what I personally call a dynamic icon. The calendar app changes daily with the day's date. I have a weather app that updates with the temperature and current conditions. In the applications folder each app has the icon I assigned, but in the dock they don't. I have yet to find a way to fix this.

[2015-04-16 15:46] jlina09640 commented on #99
I had a feeling that the issue behind it is the fact that it changes dynamically in the dock, but it's definitely an issue we should fix. What other apps have you found also have this problem, other than the weather app?

[2015-04-16 16:19] jlina09640 commented on #99
Actually I got it to work for the calender, I'll issue a pull request for it.

[2015-04-17 01:20] violetbrina opened #101 "Icon Request: Inkscape and X11/XQuartz"

[2015-04-17 17:17] wjramos commented on #101
I submitted a pull request for Inkscape [Here](https://github.com/tinalatif/flat.icns/pull/85/files)

[2015-04-18 07:36] llangit opened #102 "Icon Request: Aperture, Logic, Things"
First of all, thanks for this amazing icon set! However, in order to make my dock look perfectly flat, I'm missing icons for Aperture, Logic and the task manager Things. Would be cool if these icons would make it into a future relase! Thanks.

[2015-04-19 00:30] wjramos commented on #102
![things](https://cloud.githubusercontent.com/assets/5625810/7217662/9615f1be-e5f0-11e4-94fc-2a7efe111017.png)
How's this?

[2015-04-19 01:24] wjramos commented on #67
First attempt

![Unarchiver](https://github.com/wjramos/flat.icns/blob/unarchiver/pngs/unarchiver.png)

[2015-04-19 15:45] llangit commented on #102
Looks great, thanks!

[2015-04-19 18:45] mknrls opened #110 "Maintenance Discussion / Idea"
Is this project still being maintain by @tinalatif? Love this project and how people are contributing to it :D there a lot pull a pull requests that haven't been merge since a long while. Also seeing that @wjramos is helping a lot with the icons design and request (great job man) and also to all the others that are contributing.

Has anyone heard from her?
Maybe creating a GitHub organization coul

[2015-04-19 21:03] wjramos commented on #110
Thanks @mknrls,

I think that's a great idea, @tinalatif's most recent activity is back in December, and I've had no communication with her so I'm not sure of the project's current status.

I love this project, and think it's one of the higher quality minimal application icon sets out there.

[2015-04-19 21:07] wjramos opened #111 "Feature Proposal: Apply Icon Set Script"
Would it be helpful for people if I created a runnable script to apply the full icon set to existing applications?

[2015-04-19 21:57] mknrls commented on #111
yes. the current script needed to be updated for Yosemite :)

[2015-04-19 22:11] wjramos commented on #69
![things](https://cloud.githubusercontent.com/assets/5625810/7221622/5d99ced0-e6a6-11e4-9e66-60badff2d3c1.png)
![things2](https://cloud.githubusercontent.com/assets/5625810/7221621/5d983c64-e6a6-11e4-8bf9-519ecb82c56a.png)

[2015-04-19 22:30] mknrls commented on #110
@wjramos so i created the organization https://github.com/flaticns and already forked the flat.icns repo and webiste repo. I will added you also  as owner so you can also accept pull request ect. We will still need to add all the icons pull requests from this repo to the new one. Let me know if have ideas ect :D
I should also add @tinalatif so that could help her out, its her work after all and we

[2015-04-19 22:37] wjramos commented on #111
Actually, somehow overlooked the script that is already there, so I'll try and update it and create a revert script

[2015-04-19 22:40] mknrls commented on #111
cool :+1:

[2015-04-19 22:59] mknrls commented on #110
@tinalatif your back :) what are though on this?

[2015-04-19 23:34] tinalatif commented on #110
Hi! Still alive! Long story short, I moved countries and started working full-time, and it took a while to adjust to everything. Good news: things have mostly settled and I want to start working on this project again (funny timing - this has been on my mind for a few days now since there's been some mysterious reignited "public interest" in the project). Just merged nearly all outstanding pull req

[2015-04-19 23:48] mknrls commented on #110
happy you back. :) no worry i underatand. As for the organization i might delete it or find use for it.

[2015-04-19 23:49] wjramos commented on #110
Welcome back @tinalatif! Great to hear you still want to be involved!

[2015-04-20 00:41] mknrls commented on #110
@wjramos that seems like a good idea but how would we  make this work with the current repos setup?

[2015-04-20 02:17] mknrls commented on #9
@tinalatif The licensing would depend on you, like you are recreating the those for the flat.icns project. This project is open to anyone to contribute and improve, but you could also require them to give you credit (Attribution) ect.

You would probably be looking at opensource license http://choosealicense.com/  ,most likely a creative commons license witch you could chose here: http://creativec

[2015-04-20 02:48] wjramos commented on #70
How's this? ![Tower](https://github.com/wjramos/flat.icns/raw/tower/pngs/tower.png)

[2015-04-20 03:49] mitchmalone commented on #70
Dude, that's SO sweet!

[2015-04-20 04:02] coltonfitzgerald commented on #63
Is it just me or is this icon a different size compared to all of the other icons? When I apply this one and its sitting on my dock it looks bigger.

[2015-04-20 04:27] wjramos commented on #63
Let me take a look, that should only happen if I exported it differently than usual

[2015-04-20 04:32] wjramos commented on #63
I want to make sure, was that the .icns or .png?

[2015-04-20 04:36] wjramos commented on #63
![screenshot 2015-04-19 21 35 43](https://cloud.githubusercontent.com/assets/5625810/7223741/153ba09c-e6dc-11e4-846a-cf28ae8be510.png)

[2015-04-20 04:39] coltonfitzgerald commented on #63
![screenshot 2015-04-19 21 38 30](https://cloud.githubusercontent.com/assets/2644431/7223766/8074da5e-e6dc-11e4-9eb9-0c76ca7faac7.png)
I took the .png that you attached to this issue and converted it to a .icns

[2015-04-20 04:42] coltonfitzgerald commented on #63
Nvm, I fixed it

[2015-04-20 05:11] wjramos commented on #63
Oh! You may want to grab the copy in the latest version of the icon pack

[2015-04-20 05:42] alireza--noori opened #116 "How Can we revert back to default icons?"

[2015-04-20 12:11] dnivi3 commented on #40
Original icon:
![appicon](https://cloud.githubusercontent.com/assets/1163576/7229532/0ff8bf0a-e765-11e4-9e7e-bd84dfbecdad.png)

[2015-04-20 16:04] wjramos commented on #116
Hi @alireza--noori, it may help to know how you installed the icons - The included shell script, LiteIcon, copy-and-paste in app's Get Info, manual replacement of the icons in the app's package directory

[2015-04-20 17:48] wjramos commented on #40
I'll take a crack at this this afternoon, as well as the other Omni products

[2015-04-20 18:39] mknrls commented on #111
@wjramos maybe a menu could be added, then you would have the choice to install or revert the icons.
Also give the option to reboot your computer when the installation is done (automate it)

[2015-04-20 19:15] TheQuantum commented on #67
Ha! Agreed, but I think the one you made does a good job of combining Unarchiver's style with flat.icns.  I don’t have any suggestions.

[2015-04-20 20:11] aj0strow commented on #111
@mknrls took it about as far as i can tbh, no idea how to reboot or revert. It's my only shell script longer than two or three lines, was just curious if it was possible.

[2015-04-20 20:15] aj0strow commented on #111
@wjramos its got comments and functions, should be able to update it, or port to ruby / python / etc

[2015-04-20 20:20] aj0strow commented on #111
I remember it has trouble with sub-folders and also cant deal with application name different from project file name, but the core logic of setting an icon is there. You generate an `.rsrc` file using tmp files from an `.icns` file, then tell the os to append that to a file.

Presumably there's a way to un-append the `.rsrc` which would revert.

[2015-04-20 21:05] willrstern commented on #110
@tinalatif I may have been part of the cause of that re-ignition...I featured the project in a video a few days back: https://www.youtube.com/watch?v=ERNASc-ZcpY

It's a great project you guys!

[2015-04-20 21:10] jlina09640 opened #120 "Icon Request: Photos"
Just updated my Mac and found a new app called Photos now installed so we definitely need a flat icn for that too :+1:

[2015-04-20 21:12] mknrls commented on #120
:+1:

[2015-04-20 21:26] mknrls commented on #110
@willrstern nice to see here man, great fan of your vids. that video pretty much brought me here lol
Didn't know about this project till you featured it on your channel :)

[2015-04-20 21:28] willrstern commented on #110
@mknrls Thanks!  Awesome to see people working on it to take it forward.

[2015-04-20 22:06] wjramos commented on #110
@mknrls I'm not really sure the best way to approach that, actually

[2015-04-20 22:14] wjramos commented on #34
+1

[2015-04-20 22:15] wjramos commented on #32
An icon has been added to the core kit

[2015-04-20 22:15] wjramos commented on #29
There is now an icon for Tower in the core kit

[2015-04-20 22:16] wjramos commented on #12
Added a generic folder and downloads folder to core icon kit, there's definitely more to do

[2015-04-20 22:48] mknrls commented on #110
@tinalatif @wjramos what do you think of using [Trello](https://trello.com/) to organize ideas, backlog, releases and more ?
And [Scrollback](https://scrollback.io/me) to to engage with the community there's also a alternative called [Gitter](http://gitter.im).

[2015-04-20 23:52] wjramos commented on #120
I'll work on this this afternoon ![Source](http://cdn.iphonehacks.com/wp-content/uploads/2013/07/ios7_photos_icon.jpg)

[2015-04-21 01:21] alireza--noori commented on #116
Thanks for the reply.
Oh I actually used the install.sh (shell script). So I can't revert back to default in this case?!.

[2015-04-21 02:38] wjramos commented on #120
![photos](https://cloud.githubusercontent.com/assets/5625810/7244732/bf8fc9b6-e794-11e4-83ca-978a3eab4967.png)

[2015-04-21 02:46] mknrls commented on #120
Looks nice :)

[2015-04-21 02:56] wjramos commented on #111
@mknrls I think that's a good idea, I think it may be wise to withdraw the script until we can find a solution to back up and revert icons. I'll create a branch in my own repo to try – a good way to practice my ruby.

[2015-04-21 03:06] mknrls commented on #111
Cool. I will do some research too and see if i found anything that could to help out.

[2015-04-21 03:24] wjramos commented on #120
Any preference of the two? The diagonals fit inside the inner bounding box of the template, I could shrink the design slightly so the vertical and horizontals fit the inner bounds instead.

[2015-04-21 03:32] wjramos commented on #110
@mknrls I'm up for it

[2015-04-21 03:36] mknrls commented on #120
Love the secound one better, its more vibriante. Let see what @jlina09640 thinks

[2015-04-21 03:56] jlina09640 commented on #120
I think the more saturated one is better! I'd love to see how the final outcome will look like :) :+1:

[2015-04-21 04:35] wjramos commented on #120
![photos](https://cloud.githubusercontent.com/assets/5625810/7245726/300aa41c-e7a5-11e4-92d3-ee9c39e19f2b.png)
![photos2](https://cloud.githubusercontent.com/assets/5625810/7245727/3028435a-e7a5-11e4-9660-8489168be1b5.png)

[2015-04-21 04:44] wjramos commented on #74
This issue can be closed

[2015-04-21 04:44] tinalatif commented on #120
I think the second one fits in with the rest of the set better

[2015-04-21 06:00] myurtoglu commented on #74
Closing, thanks!

[2015-04-21 06:00] #74 closed

[2015-04-21 11:20] alireza--noori commented on #116
Thanks, I actually decided not to revert back cause your icon design is irresistible :smile:
I just have a couple of icon requests, will post them as a new issue.
Thanks heaps.

[2015-04-21 11:25] alireza--noori opened #127 "Icon Request: PHPStorm, Android Studio, Filezilla, Skitch (by evernote), Pushbullet,Viber"
Hi, sorry for the long list. It would be great if you could design some amazing icons out of the apps I mentioned. It would complete my desktop amazingness :smiley:
Thanks a lot,
Ali.

[2015-04-21 14:08] mknrls commented on #127
will see if i can tackle some of these today :D

[2015-04-21 14:24] CARMii commented on #98
Hoping someone will answer, I tried to do these on my own, but I'm very bad :( Waiting for some help, thanks.

[2015-04-21 14:32] mknrls commented on #98
theses are for sure not simple (Cinema 4D  and Rhinoceros) ;P , will see what i can do later or sometime this week

[2015-04-21 14:34] wjramos commented on #127
@mknrls That looks great!

[2015-04-21 15:12] CARMii commented on #98
Thanks a lot, every try is a gift :) i found some sample that can help for Cinema 4D http://fc06.deviantart.net/fs71/i/2012/192/9/f/_icon__minimal_cinema_4d_icon_by_primofenax-d56txuc.jpghttp://th09.deviantart.net/fs70/200H/f/2012/358/0/0/cinema_4d_metro_logo_2_by_physxpsp-d5p1qaw.png

[2015-04-21 16:09] wjramos commented on #98
I think I'm going to take a crack at Cinema 4D, I have a pretty good idea in mind.
Rhinoceros seems like it would be pretty tough making one that would look good based on its default logo, it may make sense to abstract from it and do a completely different style rhino head (light grey on soft yellow I would imagine would look good)

![Option1](src="https://d30y9cdsu7xlg0.cloudfront.net/svg/a929b30

[2015-04-21 16:18] wjramos commented on #120
Gotta say, I really like the way this one turned out

[2015-04-21 16:22] mknrls commented on #127
@wjramos thank man :)

[2015-04-21 16:36] mknrls commented on #120
looks awesome :)

[2015-04-21 22:16] secrettriangle opened #128 "Icon Request: iOS Simulator"

[2015-04-21 23:23] mknrls commented on #59
@bharley @kudlajz @timsamuelsson working on that, can view here #127

[2015-04-21 23:27] mknrls commented on #18
@darthtrevino @theasta i will be working on this in new few day:)

[2015-04-21 23:30] mknrls commented on #19
the filezilla icon can viewed here #127 will be added in pull request in the next few days.

[2015-04-21 23:32] mknrls commented on #56
@tinalatif do you still need this icon?

[2015-04-21 23:35] mknrls commented on #29
@sindresorhus this issue can now be closed :D

[2015-04-21 23:45] mknrls commented on #128
@wjramos would like to do this icon or would you rather want me  to do it ?

[2015-04-21 23:49] mknrls commented on #102
@wjramos are also thinking of doing the Aperture and the Logic icon ?

[2015-04-21 23:51] mknrls commented on #101
@violetbrina i will work on the X11/XQuartz icon, shouldn't take long

[2015-04-22 00:27] tinalatif commented on #56
This is a placeholder for a request made elsewhere (probably Twitter) which never got filled

[2015-04-22 01:10] alireza--noori commented on #127
OMG these icons are AMAZING!!!! thanks so much for spending time on them.
I look forward to the android studio one.
BTW, I have a question, so how can I get .icns files?. I looked at the project folder but these icons are not added there?!.

Cheers,
Ali.

[2015-04-22 01:25] mknrls commented on #56
now it is ;P witch one you like better?
![zotero_preview](https://cloud.githubusercontent.com/assets/6585299/7265747/cb152212-e86c-11e4-871c-d5e2ee563a8c.png)

[2015-04-22 01:28] tinalatif commented on #56
woohoo!
I'd personally go with the top-right one because it fits the original logo the best

[2015-04-22 01:32] mknrls commented on #127
@alireza--noori :D thanks, i haven't added those yet to the repo. soon tho :) and still thinking about that
android studio one like i would like it to be a little different. Once that android studio on is done i add all of them at same time.

For PHPStorm and viber options with ones you like better?

[2015-04-22 01:33] mknrls commented on #56
cool :)

[2015-04-22 01:41] alireza--noori commented on #127
@mknrls oh sure, thanks heaps man.
mmmm it's hard to choose cause all of them are AWESOME haha but if I wanna pick one of them for PHPStorm I would pick the first one(top-left), for Viber I would pick the first one as well (left one).

Thanks a lot :smile:

[2015-04-22 01:44] mknrls commented on #127
coo :D no problem man

[2015-04-22 02:40] wjramos commented on #19
I'm going to be doing one for Virtual Box tonight

[2015-04-22 02:41] wjramos commented on #102
@mknrls Sure, I'll have to take a look at the default icons

[2015-04-22 03:08] wjramos commented on #127
@mknrls I'm a huge fan of the FileZilla and Pushbullet ones especially

[2015-04-22 03:09] wjramos commented on #56
I also like top right the best

[2015-04-22 03:14] wjramos commented on #101
Personally, I'd like to see the black dulled in either of the two (maybe #505050 or #393939). As is, I think the left one looks nice, but I think the right one might look nice with the X as a red-orange

[2015-04-22 03:18] wjramos commented on #128
I would probably need a reference image, this is the best one I've found: ![iossim](http://png-2.findicons.com/files/icons/1254/flurry_system/256/iphone_simulator.png)

[2015-04-22 03:26] mknrls commented on #127
:D

[2015-04-22 03:28] mknrls commented on #102
cant wait to see what you come up with, maybe i will try to tackle the logic one

[2015-04-22 03:33] mknrls commented on #128
the current one is this one
![ios-simulator-icon-b0e5413bbfafce4cb73924fe6e92d2c9](https://cloud.githubusercontent.com/assets/6585299/7266854/d6002cdc-e87e-11e4-8ab6-cbf8f1e625d8.png)

[2015-04-22 03:34] wjramos commented on #98
![4d](https://cloud.githubusercontent.com/assets/5625810/7266859/c6c981fa-e865-11e4-9a29-8e463693cda9.png)

[2015-04-22 03:36] wjramos commented on #102
What do you think of the one I posted?

[2015-04-22 03:38] wjramos commented on #96
YNAB is now in the latest package, any preference as far as the two alternote icons displayed?

[2015-04-22 03:41] wjramos commented on #48
@dennistimmermann I'm also a fan of #2 -- I think you can go ahead and issue a pull request with the files if you are still around

[2015-04-22 03:41] mknrls commented on #98
maybe we should go toward a design more like this, what do you think?
would make your life simpler :)

![](http://fc05.deviantart.net/fs70/f/2012/358/0/0/cinema_4d_metro_logo_2_by_physxpsp-d5p1qaw.png)

[2015-04-22 03:42] wjramos commented on #39
I'd love to do this one, is there still a need for it now that Sparrow is defunct?

[2015-04-22 03:50] violetbrina commented on #101
I support @wjramos comment. I like the black on white as is and then probably make the second an orange on black/grey.

[2015-04-22 03:50] wjramos commented on #40
![omnifocus](https://cloud.githubusercontent.com/assets/5625810/7266974/0bb70484-e868-11e4-8d13-366f460867f0.png)
![omnifocus2](https://cloud.githubusercontent.com/assets/5625810/7266975/0bc9db36-e868-11e4-8e6b-62b21c7757d6.png)

[2015-04-22 03:51] wjramos commented on #98
I'll take a crack at it

[2015-04-22 03:53] mknrls commented on #102
it perfect just that the grey should be a similar grey to google camera or the same.

[2015-04-22 03:54] tinalatif commented on #96
My vote's for #2

[2015-04-22 03:58] tinalatif commented on #110
@willrstern must be it - thanks for the support!

@mknrls Could be an interesting idea, we could give it a shot

[2015-04-22 04:05] mknrls commented on #101
boom :P mix of both ideas with extra idea ![xquartz3](https://cloud.githubusercontent.com/assets/6585299/7267113/45df32ba-e883-11e4-9a5d-5fe88bbc9079.png)

[2015-04-22 04:07] #29 closed

[2015-04-22 04:20] wjramos commented on #98
![cinema4d](https://cloud.githubusercontent.com/assets/5625810/7267248/4922fc5c-e86c-11e4-9f6a-850eb5dcb305.png)

[2015-04-22 04:23] mknrls commented on #98
good start :)

[2015-04-22 04:25] mknrls commented on #17
will work on this in the next few days.

[2015-04-22 04:25] wjramos commented on #101
nice! that's looking awesome

[2015-04-22 04:28] mknrls commented on #22
virtualbox icon will be work on by @wjramos
@secrettriangle do you still need the GitX, pgAdmin3, Wake Up Time icons ?

[2015-04-22 04:33] mknrls commented on #101
thanks :) @violetbrina this issue can be close.
This icon will be merge in next few days.

[2015-04-22 04:41] wjramos commented on #98
![cinema4d](https://cloud.githubusercontent.com/assets/5625810/7267378/1aa0cc58-e86f-11e4-9d36-e1e9014b3abb.png)

[2015-04-22 04:42] mknrls commented on #24
the remaining icons, will be work on in next few days or so. (RubyMine, VMWare  & Toad)

[2015-04-22 04:46] mknrls commented on #32
@dwagnonuda1 this issue can be close

[2015-04-22 04:50] mknrls commented on #21
@samkellett YNAB has been added to the repo.
Do you still need the other icons ?

[2015-04-22 04:50] wjramos commented on #22
I actually may try and update the tor icon as well

[2015-04-22 04:51] wjramos commented on #21
I think Transmission would be a good one to add regardless

[2015-04-22 04:53] tinalatif commented on #21
I can't believe I forgot to do Transmission in the first place

[2015-04-22 04:55] mknrls commented on #22
the tor icon is fine tho, what would like to change about it ?

[2015-04-22 04:56] mknrls commented on #21
well now is your chance to redeem your self :)

[2015-04-22 04:57] wjramos commented on #22
I feel it doesn't quite match the style of the other icons, I dunno though

[2015-04-22 04:58] wjramos commented on #98
Think I got it

[2015-04-22 05:01] #32 closed

[2015-04-22 05:03] mknrls commented on #22
naw it fine :P we will take care of it later if needed. Lets take care of all the icons issues first and then we can worry about redoing older icons if necessary

[2015-04-22 05:05] mknrls commented on #30
@drezha still need this icon?

[2015-04-22 05:08] mknrls commented on #33
Sitll need the PivotalBooster icon ?

[2015-04-22 05:09] mknrls commented on #33
@gokmen Sitll need the PivotalBooster icon ?

[2015-04-22 05:17] mknrls commented on #61
app discontinued,  still need an icon? If not this issue can be close.

[2015-04-22 05:18] mknrls commented on #62
@bluetidepro still neeed this icon ?

[2015-04-22 05:19] mknrls commented on #63
issue can be close ;)

[2015-04-22 05:20] mknrls commented on #64
Been added to repo. Issue can be close

[2015-04-22 05:22] mknrls commented on #66
@WayneSan still need an icon for this?

[2015-04-22 05:23] mknrls commented on #67
Been added to the repo. Issue can be closed

[2015-04-22 05:25] mknrls commented on #69
been added to the repo. issue can be close

[2015-04-22 05:26] mknrls commented on #70
Been added to the repo. Issue can be close :)

[2015-04-22 05:26] #70 closed

[2015-04-22 05:29] mknrls commented on #72
these icons will be work on in next few days or so.

[2015-04-22 05:50] tinalatif commented on #21
Did a quick draft and boy am I out of practice... I'll come up with something decent in the next couple days

[2015-04-22 06:01] mknrls commented on #21
Its will come back to you. hype

[2015-04-22 08:21] CARMii commented on #98
love it! really nice work, thank you :)

[2015-04-22 12:23] drezha commented on #30
No, since Yosemite I've stopped using flat.icns

[2015-04-22 12:23] #30 closed

[2015-04-22 13:08] secrettriangle commented on #22
Yep, all of 'em: GitX, VirtualBox, pgAdmin3, and Wake Up Time. :stuck_out_tongue:

Tor icon is fine for now.

[2015-04-22 13:24] AO16 commented on #69
Thanks!

[2015-04-22 13:24] #69 closed

[2015-04-22 13:33] mknrls commented on #22
oki lol the remaining icons, will be work on in next few days or so :)

[2015-04-22 14:42] mknrls commented on #56
i think we close this issue to :) i will be added to the merge in a few days or so

[2015-04-22 15:05] jameswlane opened #130 "Icon Request: Kaleidoscope"
I snagged the original icon from the Resource folder for a base.
https://www.dropbox.com/s/72z5a5o6wugdd47/Kaleidoscope.icns?dl=0

[2015-04-22 15:05] jameswlane opened #131 "Icon Request: Querious"
I snagged the original icon from the Resource folder for a base.
https://www.dropbox.com/s/859yfe9q49b10bg/Querious.icns?dl=0

[2015-04-22 15:05] jameswlane opened #132 "Icon Request: Sonos"
I snagged the original icon from the Resource folder for a base.
https://www.dropbox.com/s/5gytiy0b1v07pom/Sonos.icns?dl=0

[2015-04-22 15:08] jameswlane opened #133 "Icon Request: Jet Brains Suite"
I know there was some request for some of the Jet Brains IDEs

Here are some of the original .icns

PhpStorm
https://www.dropbox.com/s/ychg089ar3d919g/PhpStorm.icns?dl=0

RubyMine
https://www.dropbox.com/s/sm6x26iw4eo2xsd/RubyMine.icns?dl=0

WebStorm
https://www.dropbox.com/s/gt3y5tyqwyoi6wx/WebStorm.icns?dl=0

[2015-04-22 15:20] mknrls commented on #133
php PhpStorm has been design and will be merge in the next few days, can viewed here #127
rubymine and webstrom icons, will be work on in next few days or so #18 #24

[2015-04-22 15:40] wjramos commented on #24
I will give VM a try

[2015-04-22 15:43] wjramos commented on #131
Out of curiosity, how do you like Querious as opposed to Sequel pro?

[2015-04-22 15:57] wjramos commented on #22
For GitX, how do you think it would look after increasing the weight [like this](https://www.kalosflorida.com/wp-content/uploads/2014/03/plus-sign.jpg)?

[2015-04-22 15:59] jameswlane commented on #131
@wjramos I actually really love it, I been using Querious 2 and its hands down been one of the best utilities I purchased for managing and working with SQL I wish they had something like it for MongoDB.

[2015-04-22 16:00] wjramos commented on #62
App *appears* defunct as it hasn't been updated since 2012

[2015-04-22 16:02] secrettriangle commented on #22
@mknrls that's the right Wake Up Time, yes. Great work so far BTW!

[2015-04-22 16:10] mknrls commented on #22
@wjramos a little to bulky, like the icons is using a light font
@secrettriangle thanks man:) dope

[2015-04-22 16:13] mknrls commented on #62
that what i was thinking, and since then they have been some new  tools for theses

[2015-04-22 16:14] bluetidepro commented on #62
@wjramos @mknrls Yeah, no worries, we can close it out :)

[2015-04-22 16:14] #62 closed

[2015-04-22 16:33] mknrls commented on #8
@imajes do you still need the the remaining icons?

[2015-04-22 16:46] wjramos commented on #8
Adium is already in the pack, I think tweetbot would be a good one to add

[2015-04-22 16:56] imajes commented on #8
Link would be good. To be honest though, for some of these apps, i've used
alternate icons because the original ones are not very aesthetically
pleasing, so even making them flat would not be an improvement :P

best
james

On Wed, Apr 22, 2015 at 9:46 AM, Jordan Ramos <notifications@github.com>
wrote:

--
James Cox,
Consultant, Raconteur, Photographer, Entrepreneur
t: +1 347 433 0567  e: james@ima

[2015-04-22 19:09] mknrls commented on #8
guess we could do Link and tweetbot, then close this issue :)
You never know, we could maybe convince you otherwise.
These icons will be work on in next few days or so.

[2015-04-22 19:21] mknrls commented on #35
@micahhausler i will add this icon to issue #133 like is also a Jet Brain product, you can follow up there :)
This issue can be closed. Thanks

[2015-04-22 19:22] mknrls commented on #38
@jamez14 still need the Xamarin Studio icon ?

[2015-04-22 19:23] jamez14 commented on #38
@mknrls if no one else has requested it then I'd say no. I haven't been using Xamarin Studio that much so it has left my dock. Thanks for checking though!

[2015-04-22 19:25] mknrls commented on #38
@jamez14 no worry mate,  you can close this issue :)

[2015-04-22 19:26] #38 closed

[2015-04-22 22:21] jlina09640 opened #134 "Icon Request: Mischief"
Hello all! I'm really happy about the awesome updates we keep giving, so let's do some more! Would absolutely love if someone made one for mischief, here's a reference from the app store:

http://a4.mzstatic.com/us/r30/Purple1/v4/7d/98/b0/7d98b00d-1b45-7fbb-fe0a-eda9796668a3/icon256.png

Awesome work everyone, keep it up! :)

[2015-04-23 00:53] mknrls commented on #134
will work on it :D

[2015-04-23 02:16] wjramos commented on #134
I really like the left one as someone who is unfamiliar with the app

[2015-04-23 02:27] mknrls commented on #134
good point, like the second one too.

[2015-04-23 02:29] jlina09640 commented on #134
Woah how awesome! Definitely like the second one, too!

[2015-04-23 02:32] mknrls commented on #134
:)

[2015-04-23 02:50] #120 closed

[2015-04-23 02:50] #99 closed

[2015-04-23 02:52] mknrls commented on #134
@jlina09640 this icon will be add to the repo in the next few days, You can close the issue :)

[2015-04-23 02:53] jlina09640 commented on #134
@mknrls Already did! Thanks so much~

[2015-04-23 02:53] #134 closed

[2015-04-23 05:12] wjramos commented on #128
I'm having a bit of trouble coming up with ideas for this one

[2015-04-23 05:13] wjramos commented on #60
I'll take a crack at Textwrangler

[2015-04-23 05:15] wjramos commented on #96
Pull request for Alternote sent

[2015-04-23 05:15] wjramos commented on #96
Also, Photos is currently in the newest package

[2015-04-23 05:28] mknrls commented on #128
i will think about it and see if can come up with something

[2015-04-23 05:30] secrettriangle commented on #128
I think that if you make a blue background with a slightly skew iPhone it will convey the icon unambiguously and go with the theme well. What do you think?

[2015-04-23 05:30] secrettriangle opened #136 "Icon request: Dolphin emulator"

[2015-04-23 05:38] mknrls commented on #128
was going toward something like that, we will see :P

[2015-04-23 06:35] gokmen commented on #33
that's fine, I'm going to close this.

[2015-04-23 06:35] #33 closed

[2015-04-23 16:23] wjramos commented on #66
![vox](https://cloud.githubusercontent.com/assets/5625810/7301889/5b23ae0e-e99a-11e4-97a7-bc510efb9815.png)
First draft, any ideas?

[2015-04-23 16:53] mknrls commented on #66
Look good to me man.

[2015-04-23 17:41] wjramos commented on #66
I'll issue a request in a little while

[2015-04-24 00:17] alaskattack opened #138 "Icon Request: Rdio"

[2015-04-24 01:55] Arnarkari93 opened #139 "Icon Request: Sublime text"
Is it possible to get the icon to change also for sublime text 3 ?

[2015-04-24 02:02] #139 closed

[2015-04-24 02:02] Arnarkari93 commented on #139
just did it manualy

[2015-04-24 03:00] wjramos commented on #139
I didn't realize there was a difference between 2 and 3 icons

[2015-04-24 03:03] Arnarkari93 commented on #139
Yeah it's probably because sublime text 3 is named **Sublime Text.app** while sublime text 2 is named **Sublime Text 2.app**

[2015-04-24 04:12] wjramos commented on #139
Ah, yeah the install script needs some work

[2015-04-24 14:56] wjramos commented on #102
![aperture](https://trello-attachments.s3.amazonaws.com/55387fbf2691dfd19fa86296/1024x1024/c585cbbf0875864e50b8e201b83232f8/aperture.png)
![logic](https://trello-attachments.s3.amazonaws.com/5538804014e506c49f39ebb8/1024x1024/5761cea97354dbbd6c6363e5cc107bf0/logic.png)

What do you think?

[2015-04-24 15:21] dnivi3 commented on #40
I see you used the AnyDo-symbol. The checkmark is not in the right shape. Funnily enough I made one myself almost at the same time you did. I also used the AnyDo-icon, but adapted the checkmark by modelling the checkmark over the original OF-logo. Worked quite well, I think. The only problem is the sharp edges of the checkmark (the original OF-icon's checkmark has semi-round edges). I couldn't fig

[2015-04-24 18:18] wjramos commented on #40
I'll make another one this afternoon -- there's a lot of icons in the set with checkmarks, so I wanted to see if using the same shape would make sense for consistency

[2015-04-24 20:32] mknrls commented on #128
@secrettriangle what you think ?
![ios simulator2](https://cloud.githubusercontent.com/assets/6585299/7327968/6d5bb3ae-ea9f-11e4-87c9-f6494eaa5616.png)

[2015-04-24 21:49] secrettriangle commented on #128
@mknrls I think it's fine. A bit divergent from the original icon, but fine nonetheless.

[2015-04-25 00:04] wjramos commented on #128
I'll try and take a crack at it too - this is a tough icon for this style

[2015-04-25 20:42] mknrls commented on #133
@jameswlane here they are, let me know if the any improvement that have to be made, if not the issue can be close and these icons will be added to the repo in the next few days. Thanks.

[2015-04-25 20:45] jameswlane commented on #133
I like them. They are a lot more unified looking then the actual originals from jet brains. I give this a thumbs up.

[2015-04-25 20:58] mknrls commented on #138
![rdio](https://cloud.githubusercontent.com/assets/6585299/7334794/2fdb4274-eb6c-11e4-85ec-b2b1fbab2fc4.png)

Let me know if there's any improvement that have to be made,
if not the issue can be close and these icons will be added to the repo in the next few days. Thanks :)

[2015-04-25 21:00] mknrls commented on #133
thank man :)

[2015-04-25 21:11] mknrls commented on #136
Let me know if there's any improvement that have to be made,
if not the issue can be close and this icon will be added to the repo in the next few days. Thanks :)

![dolphin emulator](https://cloud.githubusercontent.com/assets/6585299/7334848/f7d28f7a-eb6d-11e4-9c2b-b098ccdc90db.png)

[2015-04-25 21:12] secrettriangle commented on #136
Awesome!

[2015-04-25 21:15] tinalatif commented on #136
@mknrls as a general rule I think issues should be kept open until they're merged in

[2015-04-25 21:31] mknrls commented on #132
Let me know if there's any improvement that have to be made,
if not the issue can be close and these icons will be added to the repo in the next few days. Thanks :)

![sonos](https://cloud.githubusercontent.com/assets/6585299/7334946/e6f20980-eb70-11e4-91e8-bc18206ee26a.png)

[2015-04-25 21:59] mknrls commented on #136
@tinalatif sorry about that.

[2015-04-25 23:01] mknrls commented on #130
@jameswlane the color are the same but with a flat look to it. Let me know if there's any improvement that have to be made, if not this icon will be added to the repo in the next few days. Thanks :)
PS: the background is white so you want see the rounded square here

![kaleidoscope](https://cloud.githubusercontent.com/assets/6585299/7335199/9ef22320-eb7c-11e4-9cb5-e735c89dd276.png)

[2015-04-26 01:32] wjramos commented on #130
![kaleidoscope](https://cloud.githubusercontent.com/assets/5625810/7335496/788b2da6-eb79-11e4-95aa-35fc403eff1e.png)

[2015-04-26 01:36] mknrls commented on #130
@jameswlane here the second iteration me and @wjramos worked on

[2015-04-26 02:23] wjramos commented on #22
![virtual-box](https://cloud.githubusercontent.com/assets/5625810/7335616/7cd88b04-eb80-11e4-9fd1-0fa9ab50262f.png)

[2015-04-26 02:25] wjramos commented on #22
![virtual-box](https://cloud.githubusercontent.com/assets/5625810/7335622/c3b333e4-eb80-11e4-81af-7e92ac09f8e7.png)

[2015-04-26 02:25] wjramos commented on #22
I'd like to do the dock preview frame as well, do you happen to know where that icon is located @secrettriangle?

[2015-04-26 02:56] wjramos commented on #48
![lol](https://cloud.githubusercontent.com/assets/5625810/7335711/247c1cd2-eb85-11e4-811f-7fc1a55dfe9a.png)

[2015-04-26 03:16] wjramos commented on #48
![lol](https://cloud.githubusercontent.com/assets/5625810/7335751/dee390e4-eb87-11e4-8765-3211aef24728.png)
I made a new copy

[2015-04-26 03:25] wjramos commented on #132
Here's an alternate version I came up with
![sonos](https://cloud.githubusercontent.com/assets/5625810/7335766/2ac7aada-eb89-11e4-951c-f609f6cc3f5f.png)

[2015-04-26 04:29] wjramos commented on #131
![querious](https://cloud.githubusercontent.com/assets/5625810/7335890/0e59557a-eb92-11e4-88b4-02a1832da63c.png)
First draft of the icon

[2015-04-26 09:35] alireza--noori commented on #127
@mknrls AWESOME work man!!! :smile:
Actually I like the one you said you did for fun (2.1) haha :wink:
Cheers for the great work!! :smiley:

[2015-04-26 14:10] mknrls commented on #127
@alireza--noori thank mate :)

[2015-04-26 14:13] secrettriangle commented on #22
@wjramos what do you mean by dock preview frame? Awesome VirtualBox icon!

@mknrls I like the second Wake Up Time better, it's more readable.

[2015-04-26 15:14] mknrls commented on #22
@secrettriangle i prefer that one too, happy you like it

[2015-04-26 15:21] mknrls commented on #136
@secrettriangle was talking to @wjramos yesturday and suggested me to do a white blue version (matched the logo on the website) do you have a preference?
![dolphin emulator2](https://cloud.githubusercontent.com/assets/6585299/7337834/012665f4-ec06-11e4-94c9-3617aad569b9.png)

[2015-04-26 15:43] CARMii commented on #98
my first icon ever, I'm not a graphic designer, I'm an architect, I so hope you can appreciate te effort :D

Adobe Muse:

http://carminecarlino.altervista.org/adobe_muse.png

[2015-04-26 15:53] secrettriangle commented on #136
@mknrls either one is fine, but I'm leaning towards the first one because it actually looks like a dolphin in water. :)

[2015-04-26 16:06] JustDADE opened #145 "Icon Request: Microsoft Office, uTorrent, MAMP, GitTower"
Also Google Chrome Canary

[2015-04-26 16:26] mknrls commented on #145
@JustDADE all of them are already here. witch method did you use to install the icons?

[2015-04-26 16:30] mknrls commented on #136
@secrettriangle well well :P didnt see it like that lol but now that point it out, its make total sense haha

[2015-04-26 17:48] wjramos commented on #98
Nice work, I've been working on a version too, but I can't for the life of me figure out the font used in the other adobe icons

[2015-04-26 17:49] wjramos commented on #22
![screenshot 2015-04-23 13 54 50](https://cloud.githubusercontent.com/assets/5625810/7338475/d87ed3c4-ec01-11e4-8c6e-ca8c8c9cde9c.png)

[2015-04-26 18:58] wjramos commented on #98
![adobe-muse](https://cloud.githubusercontent.com/assets/5625810/7338773/7ec8ab70-ec0b-11e4-8708-dfbfd3637434.png)

[2015-04-26 20:39] wjramos commented on #145
All of these icons are currently in the latest package @JustDADE

[2015-04-26 21:12] mknrls commented on #72
@tpai let me know if there's any improvement that have to be made,
if not these icons will be added to the repo in the next few days. Thanks :)

![unity](https://cloud.githubusercontent.com/assets/6585299/7339273/36e00a66-ec37-11e4-8fe9-cb278328add8.png)

![monodevelop](https://cloud.githubusercontent.com/assets/6585299/7339274/3d6d8d22-ec37-11e4-9e05-5f1f6ebf04b5.png)

[2015-04-26 22:37] JustDADE commented on #145
Hmm, I see it in icns folder, but for some reason install.sh do not updates it. Oh well, I'll use LiteIcon.

[2015-04-26 22:37] #145 closed

[2015-04-26 22:49] secrettriangle commented on #22
Hmm, I don't know where the frame is located, but I think it should be fine to improvise.

[2015-04-26 22:54] wjramos commented on #145
The install.sh needs some work, it's a little outdated

[2015-04-27 02:36] alireza--noori commented on #127
@mknrls Plz lemme know when you updated the repo :wink:
Cheers.

[2015-04-27 03:12] mknrls commented on #127
@alireza--noori sure

[2015-04-27 13:31] jameswlane commented on #130
@mknrls @wjramos I actually like the first one. I think the blending of the colors are more aesthetically pleasing.

[2015-04-27 13:32] jameswlane commented on #131
I like it, great conversion from 3d to flat.

[2015-04-27 13:34] jameswlane commented on #132
@mknrls @wjramos I like the first one due to one of the big items in the Sonos logo and branding is it being palindrome.

[2015-04-27 15:25] wjramos commented on #132
Perfect - @mknrls want to issue a pull request an yours?

[2015-04-27 15:28] wjramos commented on #131
I've been playing with the beams a bit - they just feel unfinished in this one

[2015-04-27 15:36] wjramos commented on #131
![querious](https://trello-attachments.s3.amazonaws.com/553932f37644fd3fb5202262/1024x1024/9aff298ff58e16060c855c5c51f33232/querious.png)

[2015-04-27 15:38] wjramos commented on #131
I'll figure something out

[2015-04-27 15:50] mknrls commented on #132
@wjramos i will do a pull request soon

[2015-04-27 16:25] mknrls commented on #130
@jameswlane i see what you mean, the only problem is that first one wont match the rest of the set, like  it isn't exactly flat design. That's the reason why the second one was created, we will try to come up with other options and see what can be done.

[2015-04-27 17:04] jameswlane commented on #130
@mknrls You also make a very valid point. Maybe we can break it up into more than six sections and add more shades. Maybe twelve sections? Break the Red, Green and Dark Blue ( Or the three points ) into three sections themselves.

[2015-04-27 17:31] mknrls commented on #130
@jameswlane i don't know if it's going to look right but we could try. By the way this was a iteration we had before we settle with the current one, witch is still a good option if you like it

![kaleidoscope](https://cloud.githubusercontent.com/assets/6585299/7353404/3d234910-ece1-11e4-9521-2c107bd9da5c.png)

[2015-04-27 20:07] mknrls commented on #128
@secrettriangle there 2 other icons that will have same style (that can be viewed here #127), i hope you wont mind. Is there something anything in particular you like about this one?

[2015-04-27 20:37] wjramos commented on #130
I'll do another version tonight with more sections, possibly a low-poly style

[2015-04-28 03:07] gilbarbara commented on #127
:+1:

[2015-04-28 03:33] gilbarbara opened #149 "Icon request: TextWrangler"
The original icon.
![TextWrangler](https://macin.files.wordpress.com/2008/10/textwrangler-icon.png)

[2015-04-28 03:34] gilbarbara commented on #21
Transmission, please!
:+1:

[2015-04-28 14:19] TasyaHarrington opened #151 "Bug with small icons?"
I've been experiencing a bug with the new icons. The full sized icons in my dock look good, but the tiny icons in finder are weird colors and blurry. Not correct at all. I am uploading screenshots of what I mean. Has anyone else encountered this or know how to fix it? It happen if I change the icons both with LiteIcon, or if I go to 'Get Info' and change the icon there. For the folders I am trying

[2015-04-28 14:25] jameswlane commented on #151
I noticed the same thing but I was using Liteicon

https://www.dropbox.com/s/lsoptqbnnelf1uu/Screenshot%202015-04-28%2009.25.17.png?dl=0

[2015-04-28 14:26] TasyaHarrington commented on #151
Yeah, for me it doesn't matter if I use Liteicon or change them manually.

[2015-04-28 14:29] tinalatif commented on #151
Just to confirm, you're using the .icns files, not the .pngs?

On Tue, Apr 28, 2015 at 10:26 AM, TasyaHarrington
<notifications@github.com> wrote:

[2015-04-28 14:30] TasyaHarrington commented on #151
Correct.

[2015-04-28 14:31] tinalatif commented on #151
Weird. I'll try to reproduce/fix this later today unless someone figures it out first

On Tue, Apr 28, 2015 at 10:30 AM, TasyaHarrington
<notifications@github.com> wrote:

[2015-04-28 14:37] mknrls commented on #151
this issue is only happening with the generic folders or others also?

[2015-04-28 15:12] TasyaHarrington commented on #151
Many things. Gimp, Unarchiver, Photos, Download Folder.... It seems to be many of the newer icons

[2015-04-28 15:17] wjramos commented on #151
I'll investigate this as well as the mentioned icons were all mine

[2015-04-28 15:19] tinalatif commented on #151
Thanks Jordan. Sounds like there's something up with the ai-to-icns script you're using.

On Tue, Apr 28, 2015 at 11:17 AM, Jordan Ramos <notifications@github.com>
wrote:

[2015-04-28 15:23] mknrls commented on #151
been using it also, for the icons i submitted via pull request.

[2015-04-28 16:02] wjramos commented on #151
Applied via LiteIcon ![Get Info](https://www.dropbox.com/s/wvseyj8fjs84frf/Screenshot%202015-04-28%2009.01.30.png]

[2015-04-28 20:28] wjramos commented on #151
Has anyone else been able to reproduce?

[2015-04-28 20:31] wjramos commented on #151
![Unarchiver get info](https://www.dropbox.com/s/baiyiyfif0mks8j/Screenshot%202015-04-28%2013.30.46.png)

[2015-04-29 01:14] mknrls commented on #149
Will be worked in the next few days

[2015-04-29 23:03] nem604 opened #153 "Icon request: Cisco Jabber"
I know it might not be as popular as some of the other requests, but we use Cisco Jabber at work and it drives me crazy that it's the only icon on my dock that doesn't match the rest of the theme.

Original icon from resource folder: https://www.dropbox.com/s/786rw9d1fde7hm6/Jabber.icns?dl=0

[2015-04-29 23:18] mknrls commented on #153
no worry, all icons are welcome, this driven by the community :) i will work this icon in the next few days or so.

[2015-04-30 05:48] nem604 commented on #153
Thank you!

[2015-05-01 12:46] jameswlane commented on #130
I was thinking on this maybe something mosaic or just get rid of the colors and make its a single color.

[2015-05-01 15:33] mknrls commented on #153
what do you think ? :)
![cisco jabber](https://cloud.githubusercontent.com/assets/6585299/7432409/e1c881c6-eff5-11e4-855e-92e9d25a3f15.png)

[2015-05-01 15:34] mknrls commented on #149
what you think?
![textwrangler](https://cloud.githubusercontent.com/assets/6585299/7432417/f6880172-eff5-11e4-8340-9d527f460892.png)

[2015-05-01 22:57] gilbarbara commented on #149
It's great!

Thanks @mknrls

[2015-05-02 01:07] mknrls commented on #149
no problem @gilbarbara :)

[2015-05-02 01:27] mknrls commented on #8
@imajes so i did tweetbox but as for Linkinus do you think is still needed, don't think the app is still being develop anymore and they no longer have a website.

![tweetbot](https://cloud.githubusercontent.com/assets/6585299/7439414/5dff9a48-f048-11e4-9b72-9829384be60d.png)

[2015-05-02 01:32] mknrls commented on #53
@justmytwospence do still need this icon?

[2015-05-02 01:40] mknrls commented on #50
@reduxd will work on this in next few days

[2015-05-02 03:55] wjramos commented on #53
This is one that should be in the kit, I am going to work on a version

[2015-05-02 20:05] wjramos commented on #73
![adobe-lightroom](https://cloud.githubusercontent.com/assets/5625810/7442580/e791d5ea-f0cb-11e4-976a-bba5b867e8e9.png)

[2015-05-02 20:07] wjramos commented on #60
#128 - iOS Simulator
#149 - TextWrangler

[2015-05-02 20:08] wjramos commented on #34
![textexpander](https://cloud.githubusercontent.com/assets/5625810/7442585/47d9f5e0-f0cc-11e4-99f9-dba059bb3176.png)

[2015-05-02 20:08] wjramos commented on #22
Also made an alternative Virtual Box
![virtual-box](https://cloud.githubusercontent.com/assets/5625810/7442587/5ed21610-f0cc-11e4-8bdd-d9af45cec7f7.png)

[2015-05-02 20:09] wjramos commented on #22
I'm thinking the first one might be best though

[2015-05-02 20:10] wjramos commented on #12
![folder-applications](https://cloud.githubusercontent.com/assets/5625810/7442591/7e3a7fc4-f0cc-11e4-99ca-030b787ee946.png)
![folder-developer](https://cloud.githubusercontent.com/assets/5625810/7442593/7e420578-f0cc-11e4-98d0-906d03cf3fe6.png)
![folder-documents](https://cloud.githubusercontent.com/assets/5625810/7442592/7e3e9640-f0cc-11e4-920a-acceceef75d6.png)
![folder-movies](https://cloud.git

[2015-05-02 20:10] wjramos commented on #12
going to revise Documents, doesn't really match the rest

[2015-05-02 20:51] wjramos commented on #8
Think this is good to close

[2015-05-02 22:12] justmytwospence commented on #53
Yeah it would be great!

[2015-05-03 00:29] wjramos commented on #12
Going to be working on drives as well

[2015-05-03 01:32] nem604 commented on #153
Looks great, thank you very much!

[2015-05-03 01:47] mknrls commented on #153
@nem604 no problem

[2015-05-03 05:04] csudderth1 opened #154 "Icon Requests: Finale 2014 and Minecraft"
Would love these two. Thanks for anything!

[2015-05-03 14:41] mknrls commented on #154
will work on this today, should have something later.

[2015-05-03 19:30] balazsfeher commented on #73
Great one!

[2015-05-04 02:16] mknrls commented on #130
@jameswlane here a new concept i came up with :)
This is what happen when abstract and secondary colors becomes friends lol

![kaleidoscoperemix](https://cloud.githubusercontent.com/assets/6585299/7448211/b79cad80-f1e1-11e4-9c19-8bd3cddfae19.png)

[2015-05-04 03:27] tinalatif commented on #48
This has been merged: 76b24a6e2db7d1af7426e0f51c77a16ddf5d9231

[2015-05-04 03:27] #48 closed

[2015-05-04 03:29] tinalatif commented on #102
Merged
Things: a3fec371d65d2738a2c0fb3b6b7cfc4ece0696d4
Aperture: 97f62903927702c87871e46e013178e92d2062c7
Logic: 04b8f3e7d78ce6929c6b355019aa428cf6937a53

[2015-05-04 03:29] #102 closed

[2015-05-04 03:31] tinalatif commented on #66
Merged: a256977e3c099324cb48d45a9f110ddb17b01a2e

[2015-05-04 03:31] #66 closed

[2015-05-04 03:33] tinalatif commented on #64
Merged: 7630c9dd96fd40f07a738b162e0115037e51a7a7

[2015-05-04 03:33] #64 closed

[2015-05-04 03:33] tinalatif commented on #67
Merged: c8adf41091696c116e7ee18b5c2bb56f9ca1524f

[2015-05-04 03:33] #67 closed

[2015-05-04 03:37] tinalatif commented on #63
Merged: a16c2ce24bea65e9ad677ee8d733c624b4060dc4

[2015-05-04 03:37] #63 closed

[2015-05-04 03:45] tinalatif commented on #127
All merged at b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 03:45] #127 closed

[2015-05-04 03:51] tinalatif commented on #22
@secrettriangle GitX, phAdmin and Wake Up Time merged at b7d9d9c15d677f0516cf58268d7aa6d72061a772

@wjramos I actually like the second one better, the frameless look is more in line with some of the other icons

[2015-05-04 03:56] tinalatif commented on #8
@wjramos Icon Box is missing so I don't know how I feel about closing the issue. But the original icon is such a mess that I don't even know what direction to go in...

[2015-05-04 03:58] tinalatif commented on #72
Merged at b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 03:58] #72 closed

[2015-05-04 03:59] tinalatif commented on #138
Merged: b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 03:59] #138 closed

[2015-05-04 04:00] #35 closed

[2015-05-04 04:00] #18 closed

[2015-05-04 04:02] tinalatif commented on #133
Merged: b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 04:02] #133 closed

[2015-05-04 04:03] mknrls commented on #8
yeah Icon Box is one crazy icon lol i was trying to avoid it for now and see if you or @wjramos would like to do it ahah, i might try it tho and see what i can come up with

[2015-05-04 04:03] tinalatif commented on #132
Merged: b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 04:03] #132 closed

[2015-05-04 04:07] tinalatif commented on #17
Merged: b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 04:07] #17 closed

[2015-05-04 04:07] tinalatif commented on #56
Merged: b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 04:07] #56 closed

[2015-05-04 04:08] tinalatif commented on #153
Merged: b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 04:08] #153 closed

[2015-05-04 04:08] tinalatif commented on #50
Merged: b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 04:08] #50 closed

[2015-05-04 04:08] tinalatif commented on #149
Merged: b7d9d9c15d677f0516cf58268d7aa6d72061a772

[2015-05-04 04:08] #149 closed

[2015-05-04 12:48] secrettriangle opened #155 "Transmission icon doesn't look like a T"

[2015-05-04 13:29] mknrls commented on #101
@violetbrina Issue can be closed. Merged: b7d9d9c

[2015-05-04 13:29] mknrls commented on #136
@secrettriangle Issue can be closed. Merged: b7d9d9c

[2015-05-04 13:30] secrettriangle commented on #136
:+1:

[2015-05-04 13:30] #136 closed

[2015-05-04 13:31] #101 closed

[2015-05-04 13:32] mknrls commented on #59
Issue can be closed. Merged: b7d9d9c

[2015-05-04 13:35] #59 closed

[2015-05-04 13:41] mknrls commented on #155
@gilbarbara would it be possible to improve these icons, like you made them?

[2015-05-04 17:49] llangit commented on #102
Sorry for the late reply. I really like the icons! Thanks.

[2015-05-05 02:21] LekisS commented on #39
Actually I know a lot of people who are still using Sparrow (including me).

[2015-05-05 03:51] csudderth1 commented on #154
Awesome! Can't wait.

[2015-05-05 04:19] mknrls commented on #154
@csudderth1 witch one you like better and is there any improvement that should be made?

1) finale
![finale 2014 alt](https://cloud.githubusercontent.com/assets/6585299/7466953/dd9c3b92-f2bb-11e4-9103-afc30d977fde.png)
![finale 2014](https://cloud.githubusercontent.com/assets/6585299/7466954/e3962210-f2bb-11e4-8907-f4b1a2115f72.png)

2)  Minecraft (soon)

[2015-05-05 15:39] csudderth1 commented on #154
I really love them both. I believe the first one is more suitable for Finale 2011 and the second more suitable for 2014. Both look fantastic. Thanks again for doing this.

[2015-05-06 05:32] wjramos commented on #39
![sparrow](https://cloud.githubusercontent.com/assets/5625810/7487934/91ba7a0c-f376-11e4-9498-1448eedf3794.png)
![sparrow2](https://cloud.githubusercontent.com/assets/5625810/7487933/91b8fc2c-f376-11e4-8c29-2f06edefac4f.png)

[2015-05-06 05:45] wjramos commented on #8
I think Icon Box is no longer supported

[2015-05-06 08:27] LekisS commented on #39
wow, love it, thanks ;)

[2015-05-07 01:13] wjramos commented on #39
Any preference of the two (I'm leaning towards #2)

[2015-05-07 01:14] LekisS commented on #39
Me too ;)

[2015-05-07 01:14] wjramos commented on #8
If that's not the case I'd gladly take a crack at it

[2015-05-07 04:21] wjramos commented on #39
Now as far as level of detail, here's one that looks more 'folded'
![sparrow2](https://cloud.githubusercontent.com/assets/5625810/7508474/b6326ee8-f435-11e4-9fc0-5033a39e151a.png)

[2015-05-07 04:29] wjramos commented on #39
Slightly more perspective added
![sparrow2](https://cloud.githubusercontent.com/assets/5625810/7508542/eb4fccc8-f436-11e4-91db-be9713fe1a8f.png)

[2015-05-07 04:32] LekisS commented on #39
I think I like the 2nd one more.

[2015-05-07 05:38] wjramos commented on #130
![kaleidoscope](https://cloud.githubusercontent.com/assets/5625810/7509060/acc20354-f440-11e4-94bd-d23e095174b5.png)

[2015-05-07 05:52] alireza--noori opened #157 "Icon Request: TeamViewer"
Once again thanks for your Awesome work :)

[2015-05-07 12:08] jameswlane commented on #130
@wjramos love the last one its gorgeous

[2015-05-07 15:31] wjramos commented on #8
![Iconbox](https://trello-attachments.s3.amazonaws.com/554b04cafba5ad74664ee54b/1024x1024/499fba7e8780484100be54245bb89a5f/iconbox.png)

[2015-05-08 02:26] tinalatif commented on #8
@wjramos Well done!! My only (optional) suggestions: make the white row heights match the blue rows (so they don't have the little top ledge where they meet)

[2015-05-08 02:27] tinalatif commented on #130
+1

[2015-05-08 07:10] wjramos commented on #130
![kaleidoscope](https://cloud.githubusercontent.com/assets/5625810/7532017/af3b044c-f516-11e4-9ebe-d0d533776c0f.png)
One more

[2015-05-08 07:11] wjramos commented on #130
Let me know which you guys think

[2015-05-08 21:18] secrettriangle commented on #22
I think they're both great. Can we have two icons for the same app in the repo?

[2015-05-09 00:11] tinalatif commented on #130
I really love the previous one (I think it's because of the more even dispersion). I'm a little concerned it might be too busy at the size of a dock icon, but I think I might like it too much to care

[2015-05-09 00:14] wjramos commented on #22
I'm open to it, I think it would be up to @tinalatif. Maybe we can set it up with the convention of primary/alternative where the application script would default to the primary, but alternative could be available for manual application

[2015-05-09 00:15] wjramos commented on #130
Representing rainbow gradients in geometric shapes is pretty tough

[2015-05-09 00:21] wjramos commented on #130
You might also notice I slightly modified the shape of the triangle.  The original icon of this App also has a swirl appearance I tried to capture with the lines of the newer shape

[2015-05-09 05:34] jameswlane commented on #130
@wjramos I think you did a amazing job and nailed it. I agree with @tinalatif, I think it's gorgeous.

[2015-05-10 04:28] tinalatif commented on #22
I don't generally have a problem with two icons for the same app, but in this case, I'd discourage it for the sake of sticking to the theme

[2015-05-11 09:40] tpai commented on #72
Sorry for delayed response, these two icon seems awesome! You did a great job! :)

[2015-05-11 12:41] mknrls commented on #72
@tpai thanks :)

[2015-05-11 17:09] csudderth1 opened #158 "Icon Requests: Guitar Pro 6, Splashtop Personal, Splashtop Streamer, iFunBox, GeekTool"
Thanks for any help!!

[2015-05-11 20:38] wjramos commented on #158
+1 GeekTool

[2015-05-12 04:54] wjramos commented on #130
![kaleidoscope](https://cloud.githubusercontent.com/assets/5625810/7580335/3f7965a8-f828-11e4-8d13-7583aa871aed.png)

[2015-05-12 05:36] wjramos commented on #130
![kaleidoscope](https://cloud.githubusercontent.com/assets/5625810/7580654/3289c13e-f82e-11e4-87c8-b9a662ba4a12.png)
More color uniformity

[2015-05-14 06:56] sushanthsudhir opened #159 "IconRequest : Yummy FTP"
Would love an icon Yummy FTP

[2015-05-14 06:57] sushanthsudhir opened #160 "IconRequest : Microsoft Remote Desktop"
Another request from me for Microsoft Remote Desktop
TIA

[2015-05-20 15:44] TheQuantum commented on #155
I think it’s important that the icon have the up and down arrows in it, but it looks like it would be difficult to merge the spirits of the original icon and the flat style.

[2015-05-20 15:50] TheQuantum commented on #151
I’ve also been seeing the same issue in launchpad:
![screen shot 2015-05-20 at 5 46 22 pm](https://cloud.githubusercontent.com/assets/10932585/7730064/71c9a922-ff18-11e4-97fd-029ac94d4e25.png)
Those icons should be (from left to right) Mint, The Unarchiver, Adobe Acrobat

[2015-05-20 16:29] TheQuantum opened #161 "IconRequest : Network Diagnostics"
This isn’t so much a request for an icon as a request for feedback.  I’m new to the whole graphic design thing but I made an icon for Network Diagnostics (I’ve been having a lot of network problems lately so it’s open a lot) and I wanted feedback on it before submitting a pull request.

The Original:
![Network Diagnostics](https://cloud.githubusercontent.com/assets/10932585/7731019/f469171e-ff1d-1

[2015-05-22 15:48] wjramos commented on #151
Very strange, I will look into it

[2015-05-22 21:14] secrettriangle commented on #158
:+1: GuitarPro 6

[2015-05-25 17:34] dbkaplun opened #162 "Icon request: Disk Inventory X"

[2015-05-25 17:40] secrettriangle commented on #22
Can we get a PR for the VirtualBox icons? Then we can close out this issue. :)

[2015-05-25 17:42] secrettriangle commented on #128
I think it's fine! Let's get it merged :)

[2015-05-27 02:58] wjramos commented on #161
I like the tools a lot, I think the globe seems a bit overshadowed. I feel like it should be larger, but I'm not sure how to do that without covering up the tools more (maybe have it behind the tools?). I also think the details in the globe could be a bit cleaner, or removed altogether

[2015-05-27 19:38] wjramos commented on #22
Requested :)

[2015-05-28 14:55] vasu opened #170 "Icon request: Goofy"
http://www.goofyapp.com/

[2015-05-28 18:54] wjramos commented on #170
+1 Will try working on one today

[2015-05-29 02:58] tinalatif commented on #39
Merged at b87af7be98332c912d9bc7a006c42f9e7fcdc485

[2015-05-29 02:58] #39 closed

[2015-05-29 02:59] tinalatif commented on #34
TextExpander merged at 426a30414d4f31a673eca58879d2823539bd2345

[2015-05-29 03:02] tinalatif commented on #130
merged at f368bc6555af24b175bedddef434c9ce37729feb (@wjramos I have to say, this is one of my favourite icons!)

[2015-05-29 03:02] #130 closed

[2015-05-29 03:04] tinalatif commented on #22
VirtualBox merged at 3b3ea4bb9427ff77a95cc2911e25bcdb92547a70

[2015-05-29 03:04] #22 closed

[2015-05-29 06:44] NemSavic opened #171 "Icon Request: New Outlook"
Can we get a new icon for the newer version of Outlook? It seems like all the existing icons are based on the 2011 Outlook design.

![outlook_1024x1024](https://cloud.githubusercontent.com/assets/2549843/7877698/38ae7196-0593-11e5-9e85-caee1ad01d23.png)

[2015-05-29 17:46] wjramos commented on #130
@tinalatif Thank you Tina! :)

[2015-05-30 18:57] gilbarbara commented on #155
![transmission](https://cloud.githubusercontent.com/assets/31954/7898869/6f90c57c-06e4-11e5-8a77-ae5a350dc319.png)

New option, better?

[2015-05-30 19:03] dbkaplun commented on #155
It still seems overly complicated. Move the shifter all the way to the top and make it all the same color? Maybe the notches and up/down arrows are a bit much as well.

[2015-05-30 21:21] wjramos commented on #155
I like it.  In my opinion, it might look good with all the black outlines removed, the notches can be the same color as the arrows to be more subtle, and maybe make the handle all red and a less saturated

[2015-05-30 22:09] gilbarbara commented on #155
my last attempt.

![transmission-1](https://cloud.githubusercontent.com/assets/31954/7899594/56e77960-06ff-11e5-881d-2478863a9350.png)

[2015-05-30 23:08] mknrls commented on #155
@gilbarbara the last one look nice and matches more the icons set.

[2015-05-30 23:24] wjramos commented on #155
That's the one!

[2015-05-30 23:29] dbkaplun commented on #155
Can you move the shifter just a little bit higher? Either way this is **fantastic**!

[2015-06-01 00:39] tinalatif commented on #155
I've been working on something that preserves the original icon style for recognizability that fits in with the rest of the set. It needs a bit of tweaking still.

![transmission_new](https://cloud.githubusercontent.com/assets/3673835/7904706/c9bbd1b8-07d4-11e5-98e1-9bbe1f99b65b.png)

[2015-06-01 00:50] tinalatif commented on #161
I agree with almost all of of @wjramos's comments. Only thing I disagree with is having the globe behind the tools or removing the nwtwork details - I think it would take away from the primary "point" of the icon (without that, it just looks like any generic settings or config app).

I think the details should be cleaned up though. They're currently tapered and some of them end halfway across the

[2015-06-01 00:55] gilbarbara commented on #155
:+1:

[2015-06-01 19:31] wjramos commented on #170
![goofy](https://cloud.githubusercontent.com/assets/5625810/7921393/14e6516a-085a-11e5-80d7-493c3db0d297.png)

[2015-06-02 16:12] wjramos commented on #170
@vasu how do you feel about this one?

[2015-06-03 02:53] dbkaplun opened #174 "install.sh misses some apps"

[2015-06-04 03:48] mknrls commented on #174
know issue, the install.sh needs to be updated and improved.

[2015-06-04 03:50] dbkaplun commented on #174
Closing as duplicate of #37.

[2015-06-04 03:50] #174 closed

[2015-06-04 16:59] mcallinder opened #175 "Icon Request: BBEdit"

[2015-06-04 17:01] mcallinder opened #176 "Icon Request: LastPass"
https://lastpass.com/

![LastPass Icon](http://a5.mzstatic.com/us/r30/Purple1/v4/eb/02/a7/eb02a7a7-7b02-89f8-bd62-e2a8eacffac5/icon256.png)

[2015-06-04 17:04] mcallinder opened #177 "Icon Request: VMWare Fusion"
http://www.vmware.com/products/fusion

![VMWare Fusion](http://www.macupdate.com/images/icons256/23593.png)

[2015-06-04 17:09] mcallinder opened #178 "Icon Request: Pandora"
![Pandora Icon](http://appshopper.com/blog/wp-content/uploads/2010/05/pandora-icon.png)

[2015-06-04 20:13] wjramos commented on #176
I'll do this one this afternoon

[2015-06-04 21:10] mcallinder commented on #151
I get the same behavior with .icns files using either LiteIcon or manual replacing. Saw this with some of the apps listed above. Also Clear and Iterm2. Using the .png works fine.

[2015-06-04 22:38] mcallinder commented on #162
+1

[2015-06-05 15:00] wjramos commented on #151
I'm going to try reexporting all of my icons' icns with an updated export script to see if that will resolve the issue

[2015-06-06 04:49] wjramos commented on #162
I'm going to say this one is not really up to par
![diskinventoryx](https://cloud.githubusercontent.com/assets/5625810/8018346/a080566a-0bcc-11e5-8d70-6587144f63c7.png)

[2015-06-06 05:08] wjramos commented on #162
![diskinventoryx](https://cloud.githubusercontent.com/assets/5625810/8018412/5b430572-0bcf-11e5-95e1-fd509317b179.png)

[2015-06-06 05:41] wjramos commented on #176
![lastpass](https://cloud.githubusercontent.com/assets/5625810/8018503/0e88a066-0bd4-11e5-99a3-a03f19240ac0.png)

[2015-06-06 07:48] dbkaplun commented on #162
:heart_eyes:

[2015-06-06 21:10] mknrls commented on #162
@wjramos nice work man, that second one is awesome. Really like it :+1:

[2015-06-07 02:29] wjramos commented on #162
Cool, I'll go ahead and issue a pull request then

[2015-06-07 11:07] Looveh opened #179 "Icon Request: Flowdock"
https://www.flowdock.com/

[2015-06-07 11:11] Looveh commented on #19
Could we split each app request into a separate issue, since they aren't related to each other?

[2015-06-08 05:05] wjramos commented on #19
VirtualBox added in #167

[2015-06-10 23:11] tinalatif commented on #162
I think it would fit the icon set better if instead of having a purple container with a white inner-icon, the inner-icon just filled the entire square (with inverted colors so the body was purple with white lines). I guess it would be a combination of version 1 and version 2 - the way #1 fills the icon but with the minimalism of #2

[2015-06-11 06:27] wjramos commented on #162
![disk-inventory-x](https://cloud.githubusercontent.com/assets/5625810/8101060/449423c2-0fc8-11e5-9648-90b5b36bf021.png)

[2015-06-11 17:46] mrterryh opened #180 "Icon Request: ScreenFlow"
http://www.telestream.net/screenflow/overview.htm

[2015-06-12 17:47] tinalatif commented on #162
Cool! Looks great

[2015-06-13 01:28] wjramos commented on #178
I guess I never realized they had a desktop app, I'll take a crack at this when I get a chance

[2015-06-15 14:57] mcallinder commented on #178
Ya.. I was going to link to it but you need a Pandora One account to view the website. http://www.pandora.com/desktop

[2015-06-15 23:19] mcallinder commented on #176
Looks good :+1:

[2015-06-16 13:06] Looveh opened #181 "Icon Request: Emacs"
Forked from #19

![emacs modern](https://cloud.githubusercontent.com/assets/1567752/8183532/0aa8208a-1439-11e5-9e07-a66c46d42596.png)

[2015-06-16 13:06] Looveh commented on #19
Emacs added in #181

[2015-06-18 15:14] samijaber opened #182 "Icon Request: Robomongo"
![68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f363234393534362f323230323836332f34333233356365322d393930652d313165332d386336332d6264613539336461613563312e706e67](https://cloud.githubusercontent.com/assets/1393142/8234638/208483d0-15ab-11e5-83df-f53c73bb1075.png)

[2015-06-18 23:42] wjramos commented on #176
Cool, I'll go ahead and issue a pull request when i get a chance

[2015-06-23 13:31] jameswlane commented on #131
Hey @wjramos I was just touching base with you to see if any update on this. I do like both icons you linked.

[2015-06-23 13:34] jameswlane opened #183 "Icon Request: Opera"
I snagged the original icon from the Resource folder for a base.
https://www.dropbox.com/s/mgcgtadr4z6d3xe/app.icns?dl=0

[2015-06-23 20:18] wjramos commented on #131
My apologies for the delay on this one - I was hoping to get some additional feedback before I submitted a pull request - I just feel this one is a difficult icon to make feel polished like the others in the set

[2015-06-24 03:54] tinalatif commented on #131
@wjramos I'd just simplify it. I think improvising a minimal icon that fits with the set is preferred over a more complicated but truer-to-original icon that doesn't. Maybe get rid of the white/blue capsule?

[2015-06-27 14:12] ejgisbertm commented on #151
Hello everybody, I can confirm this also happening in my system (10.10.3) either with LiteIcon or dragging and dropping the .icns file in the info window of the app in Finder. I even tried copying and pasting the .icns file itself inside the .app (opening the package, inside the resource folder).

The strange thing here, is that I can only reproduce the error in my Spotlight's results, not anywher

[2015-06-29 16:55] ejgisbertm commented on #157
Hello everyone!

This is my first ever contribution to both this project and GitHub, so please correct me if I do something wrong.

This is TeamViewer.app original icon:
![iconlegacy](https://cloud.githubusercontent.com/assets/13053885/8413314/74aa951a-1e59-11e5-96be-48104219397e.png)

And this is one I made in replacement:
![teamviewer](https://cloud.githubusercontent.com/assets/13053885/8413331/

[2015-06-30 11:42] bboylilshaw opened #184 "need a uninstaller to restore my default icons"
that would be great if you have a uninstaller to restore the default icons, incase someone want to change icons back.

[2015-06-30 20:13] ejgisbertm commented on #177
Take a look at this one, hope it fits well with the theme.

![fusion](https://cloud.githubusercontent.com/assets/13053885/8440841/ac689f98-1f3e-11e5-810c-63c5d7d4d516.png)

[2015-07-02 15:17] vickyjiang opened #185 "Icon Request: Self Control"
https://selfcontrolapp.com/

[2015-07-02 16:21] joseluisq opened #186 "Icon Request: Atom"
![image](https://cloud.githubusercontent.com/assets/1700322/8482030/7de7ada2-20ac-11e5-860f-e7b1162b9463.png)

https://atom.io/

[2015-07-02 16:23] jameswlane commented on #186
There is already one for Atom.io https://github.com/tinalatif/flat.icns/blob/master/icns/atom.icns

[2015-07-02 16:29] joseluisq commented on #186
@jameswlane thanks.
But I think this issue (enhancement) should remain until next version.
Actually the current version is 1.0 :)

[2015-07-02 16:51] joseluisq opened #187 "Icon Request: Netbeans"
![image](https://cloud.githubusercontent.com/assets/1700322/8482640/9a393e22-20b0-11e5-80a6-2d7f960fd6c2.png)

https://netbeans.org/

[2015-07-02 16:55] joseluisq opened #188 "Icon Request: MySQLWorkbench"
![image](https://cloud.githubusercontent.com/assets/1700322/8482744/2d90091c-20b1-11e5-9d2b-21cb5d93c28f.png)

https://www.mysql.com/products/workbench/

[2015-07-02 17:01] mcallinder commented on #188
+1

[2015-07-02 18:08] wjramos commented on #176
PR issued #189

[2015-07-02 21:17] tinalatif commented on #186
You're right! I haven't used Atom in a long time and didn't realize there was a new icon. I unfortunately don't have my laptop with Illustrator with me until next week, but I'll be sure to update the current icon then

[2015-07-02 21:23] tinalatif commented on #177
Not bad. I'd round the corners to fit with the original icon and theme

[2015-07-02 21:31] joseluisq commented on #186
Perfect!
Well, I await for next release.
Great job!

[2015-07-03 08:27] wjramos commented on #186
I'll take a crack at this right now

[2015-07-03 13:25] ejgisbertm commented on #177
Will do @tinalatif. Also, I'll try to expand both squares so it fits the icon area edge to edge. By the way, please check #157, I made an attempt there too.
As I explain in that issue, I'm not good at vectors, only (barely) competent with rasters. If this is not a problem, and the icons are good enough, I can fork and then send a pull request; your call.

[2015-07-03 18:59] wjramos commented on #177
I'd be happy to recreate your design as a vector

[2015-07-03 19:01] wjramos commented on #188
I've got a pretty good idea for this one

[2015-07-03 19:37] ejgisbertm commented on #177
That would be great @wjramos

Really, I struggle a lot in the art department, after all, I'm just a sysadmin. Anyway, I made a second version of the icon with @tinalatif comments taken into account. Here it is for all of you to check:

![vmware](https://cloud.githubusercontent.com/assets/13053885/8504107/c8464d5c-2194-11e5-8e16-b4dcd4a747f4.png)

Please criticise it as much as you want, it's the b

[2015-07-03 19:46] tinalatif commented on #177
Both are great icons, but I would like to keep the format consistent. Also
happy to recreate them as vectors next week if @wjramos hasn't already!

On Fri, Jul 3, 2015, 12:37 PM Eduardo Gisbert <notifications@github.com>
wrote:

[2015-07-03 19:56] wjramos commented on #177
So,  in the AI template there is an inner and outer bounding box, each with a border radius, I think in order for it to match the theme it needs to take advantage of the sizing (either full width or encapsulated) and border radius in the template

[2015-07-03 20:02] ejgisbertm commented on #177
@wjramos, I originally made the icon in PowerPoint (Yeah, I know... ). If you'd like to have the file in order to manipulate the elements, just download it from my Dropbox:

https://www.dropbox.com/s/dhtorqp9pk4gqkr/vmware.pptx?dl=0

I'm not sure if this would help or hinder you in order to create the .AI file format. Earlier I used Image2Icon in order to convert the .PNG file to .ICNS for testing

[2015-07-06 14:35] brianjking commented on #151
I'm also seeing this.

[2015-07-06 16:19] brianjking commented on #151
Seems like using the PNG files may have sorted it out for now...

[2015-07-06 20:49] danielsatanik opened #190 "Icon Set Request: Flat Round Icons"

[2015-07-06 21:51] wjramos commented on #190
I like the idea – this should probably be an entirely separate icon set though

[2015-07-07 04:57] wjramos commented on #190
I did just create a template for a round set - see below for example:

![folder-app](https://cloud.githubusercontent.com/assets/5625810/8538961/fbc5206c-2429-11e5-8c96-8d18e83220a2.png)

[2015-07-07 05:03] wjramos commented on #186
Pull request issued #192

[2015-07-07 05:18] wjramos commented on #183
Please refer to PR #193 for my attempt at this icon

[2015-07-07 05:19] wjramos commented on #155
Can this one be closed?

[2015-07-07 05:21] wjramos commented on #151
Working with the creator of ICNS export tool here: choffmeister/adobe-illustrator-icnsexport#7

[2015-07-07 05:27] wjramos commented on #170
Without feedback, PR issued #194

[2015-07-07 05:37] wjramos commented on #178
PR issued #195 -- let me know what you think

[2015-07-07 07:40] wjramos commented on #177
![vmware](https://cloud.githubusercontent.com/assets/5625810/8541144/d24533be-2440-11e5-8cc3-80a82ba1a2d8.png)

[2015-07-07 08:06] wjramos commented on #187
![netbeans](https://cloud.githubusercontent.com/assets/5625810/8541622/736886ee-2444-11e5-8072-397569dec4b0.png)

[2015-07-07 09:39] wjramos commented on #157
Recreated yours as a vector @ejgisbertm
![teamviewer](https://cloud.githubusercontent.com/assets/5625810/8543378/4ecf2524-2451-11e5-9457-51b031fcbf62.png)

[2015-07-07 15:24] joseluisq commented on #187
Cool !

[2015-07-07 15:26] joseluisq commented on #186
:+1:

[2015-07-07 15:26] #186 closed

[2015-07-07 15:43] joseluisq commented on #187
I think you should send a pull request :)

[2015-07-07 16:02] joseluisq commented on #188
:+1:

[2015-07-07 16:27] mcallinder commented on #178
Looks good, thanks.

[2015-07-07 20:49] wjramos commented on #187
PR issued #196

[2015-07-07 21:17] joseluisq commented on #187
Cool :+1:

[2015-07-07 21:17] #187 closed

[2015-07-07 22:34] ejgisbertm commented on #157
Great @wjramos, if @tinalatif approves the icon you can go ahead and issue a pull request, after all, you can derive the .png and .icns from the .ai file.

[2015-07-07 22:37] ejgisbertm commented on #177
Nice work @wjramos, you make it look very easy :-)

Let us wait for the owner's input on this, but if you ask me, both icons are terrific.

[2015-07-08 14:26] danielsatanik commented on #190
Looks kind of good. I am searching for a flat round icon set with consistent style for a long time now. I like how the creator of the square one preserved the original coloring and still uses a consistent flat style for all the icons. I hope there will be a follow up pack with round shapes.

[2015-07-08 16:34] TheQuantum commented on #181
+1. Additional icon:
![icon_512x512 2x](https://cloud.githubusercontent.com/assets/10932585/8576069/f40437ec-259f-11e5-9b9c-ded71ccbdd8e.png)

[2015-07-08 16:46] TheQuantum commented on #161
A new version.  The globe is ever so slightly bigger but increasing it much more made it look too bulbous to me (it might be already, what do you think?).
![network diagnostics](https://cloud.githubusercontent.com/assets/10932585/8576336/8c6cfcca-25a1-11e5-8af9-be43bc32046e.png)

[2015-07-08 17:48] wjramos commented on #161
I actually think this is perfect - It looks so much better with the brighter, more solid network lines, and I think the globe is the perfect size

[2015-07-08 18:02] wjramos commented on #177
In retrospect, the white segment did not resemble a set of arrows too much, and the heads of the arrows were a tad too big causing the colored segment line thicknesses to not be consistent
![vmware](https://cloud.githubusercontent.com/assets/5625810/8577963/a21d27fc-2560-11e5-9cf9-2a63d82d4c02.png)

[2015-07-09 00:09] wjramos commented on #190
I went ahead and made a new repo for a rounded icon set here: wjramos/circl.icns

I've done a few already, but I'd like Tina's permission before redoing too many of the icons

[2015-07-09 02:56] ejgisbertm commented on #177
Hmm, I see what you mean with the arrows. To be honest, my eyes dismissed the roundness of the tip of the arrow. Yes, the above one does look better.

About the background, I took a glance to all the icons in the set and didn't notice any with a transparent background. I think that in order to keep the set consistent all of them have a background. Maybe if you try in another color? A light grey? Y

[2015-07-09 15:50] wjramos commented on #177
I think the only way to have the solid frame with the icon would be using the inner bounding box
![vmware](https://cloud.githubusercontent.com/assets/5625810/8599821/6a8a59ec-2617-11e5-8813-e5e51db1f931.png)

[2015-07-09 15:57] wjramos opened #197 "Icon Revision: Finder"
How would you guys feel about a more minimal Finder icon?

Icon in set:
![finder](https://cloud.githubusercontent.com/assets/5625810/8600020/7871a410-2618-11e5-8780-e27e2a8f75fd.png)

Fully Minimal version:
![finder](https://cloud.githubusercontent.com/assets/5625810/8600011/692431f8-2618-11e5-9911-c8b0cd97d07e.png)

or I could just make the black more washed out

[2015-07-09 22:29] mcallinder commented on #197
I like the minimal one a lot. I personally feel the black lines on the other are too bold.

[2015-07-10 13:24] ejgisbertm commented on #177
Well, to be honest, I kind of like it that way @wjramos. It looks way better.

[2015-07-11 15:19] dbkaplun commented on #162
@wjramos can we get a PR? :palm_tree:

[2015-07-11 15:21] dbkaplun commented on #128
@mknrls can we get a PR please? :cake:

[2015-07-12 01:08] mknrls commented on #128
@dbkaplun sorry, the reason i haven't submit this and others icons is because my main pc motherboard's decided to stop working, currently im in the process to send to the board to the manufacturer to get it fix.

[2015-07-12 02:41] dbkaplun commented on #128
No problem! Looking forward to it :)

[2015-07-14 00:27] wjramos commented on #162
PR issued #201 - please note I made the lines a little wider and less intense, plus chose what I feel was a better base purple

[2015-07-14 00:33] wjramos commented on #177
Pull request issued #202

[2015-07-14 00:46] wjramos commented on #8
PR issued #203

I decided to leave the little visual misalignment.
The grey between the white panels is a gap. With the shelves, the grey is the edge of a shelf (indicated by green light). The panels are then covering the contents of the shelf

[2015-07-14 01:02] wjramos commented on #98
Added #205

[2015-07-14 01:03] wjramos commented on #73
Added #205

[2015-07-14 01:03] wjramos commented on #49
Added #205

[2015-07-14 01:04] wjramos commented on #19
Can this be closed? We'll handle Emacs separately

[2015-07-14 01:12] wjramos commented on #181
See PR #206

[2015-07-14 02:25] wjramos commented on #160
Please refer to #207

[2015-07-15 22:23] wjramos commented on #190
If anyone else is interested in seeing a circle pack, please let me know

[2015-07-16 10:24] tvalkx opened #212 "Mission Control, Image Capture, Automator."
Hello,

I commend you on your streamlined graphics skills.
Thank you for making this available to the public.
Please make the following icons;

Mission Control
Image Capture
Automator

Kind Regards.

[2015-07-16 11:02] tvalkx opened #213 "Ommwriter"
Hello,

Please make an icon for Ommwriter, a writing software.

www.ommwriter.com

I really appreciate your icon packs, thank you.

Kind Regards.

[2015-07-16 16:12] wjramos commented on #212
I could be remembering incorrectly but I thought there were icons in the set for image capture and mission control. I'd have to check again - either way we need one for automator

[2015-07-19 02:19] danielsatanik commented on #190
I look forward to the complete set.

[2015-07-20 20:55] wjramos commented on #213
![ommwriter](https://cloud.githubusercontent.com/assets/5625810/8787086/d8316774-2ee6-11e5-95b1-21fed966b215.png)

![ommwriter_inverse](https://cloud.githubusercontent.com/assets/5625810/8787087/d8346cc6-2ee6-11e5-9593-e13d3f6a1844.png)

Personally, I'm a fan of the dark symbol on light background - I think it fits the 'essence' of the app more, being a distraction free / zen writing tool

[2015-07-20 20:59] wjramos commented on #190
for any updates regarding this, please visit my hard fork [Here](https://github.com/wjramos/circl.icns)

[2015-07-20 21:36] RanbirAulakh commented on #12
@wjramos hey, any update on the drives? Thanks.

[2015-07-22 02:17] wjramos commented on #213
![ommwriter](https://cloud.githubusercontent.com/assets/5625810/8816543/28372992-2fdd-11e5-9578-46a1f3be27ba.png)

[2015-07-22 02:27] wjramos commented on #212
![missioncontrol](https://cloud.githubusercontent.com/assets/5625810/8816644/92809ea4-2fde-11e5-942e-046ed0e6914f.png)

[2015-07-22 02:31] tinalatif commented on #197
I agree the black's a little bold. It could be lightened a bit. I think going full minimum strays a bit too far form the original

[2015-07-22 02:32] tinalatif commented on #157
Looks good to me!

[2015-07-22 02:36] wjramos commented on #212
Automator has been one I've been contemplating for a while. I really want to capture the essence - but I don't know if that is the cheesy robot, the pipe he is holding, or what. if it was the robot, do we need to show the whole robot?

[2015-07-22 02:37] tinalatif commented on #190
@wjramos Looks good! I'm fine with it. If you're going to be using the original files, I'd appreciate a link to the original repo or site or something (which you've done), but otherwise I have no issue with it :+1:

[2015-07-22 02:38] wjramos commented on #212
![automator](https://cloud.githubusercontent.com/assets/5625810/8816770/fd9fc25e-2fdf-11e5-96b1-2619798b77a0.png)

[2015-07-22 02:42] tinalatif commented on #213
I agree on both counts, the last rendition looks good

[2015-07-22 02:44] tinalatif commented on #176
Merged at 0707619534bbc745bcfa362e43ec7a818f146514

[2015-07-22 02:44] #176 closed

[2015-07-22 02:49] tinalatif commented on #183
Merged at 65e9b410e0c42be76c4eee66f9df9678f3b624be

[2015-07-22 02:49] #183 closed

[2015-07-22 02:50] tinalatif commented on #170
Merged at af2d431ec3cb5b4816cb70a4dbd172a6eade5d6e

[2015-07-22 02:50] #170 closed

[2015-07-22 02:50] tinalatif commented on #178
Merged at 47041d16d5cdd4b2fa846091e9a1dcd9335869e9

[2015-07-22 02:50] #178 closed

[2015-07-22 02:55] tinalatif commented on #157
Merged at 4dfcaea27e92c6b33e34406fff005d451ce106a3

[2015-07-22 02:55] #157 closed

[2015-07-22 02:56] tinalatif commented on #162
Merged at 0f84c1ba53d3837d0b9b0365ef774e82880999cf

[2015-07-22 02:56] #162 closed

[2015-07-22 02:57] wjramos commented on #190
@tinalatif Thanks Tina! That's great to hear. I did quite a few last night (not as easy as just reshaping the template, have to manipulate the art quite a bit, and I've been cleaning up the design files quite a bit)

I have to say, some of the icons look pretty amazing round

[2015-07-22 02:57] tinalatif commented on #177
Merged at a24bf03d8a87dd10174eca0f1f6b2f8e965146c5

[2015-07-22 02:57] #177 closed

[2015-07-22 02:59] tinalatif commented on #8
Merged at 651c913e18ad2fec8331323a4f4071d1f983b22a
Woohoo!

[2015-07-22 02:59] #8 closed

[2015-07-22 03:01] tinalatif commented on #49
Merged at 48d697c849940963f9a105639f8d8cbc8da975e7

[2015-07-22 03:01] #49 closed

[2015-07-22 03:01] tinalatif commented on #73
Merged at 48d697c849940963f9a105639f8d8cbc8da975e7

[2015-07-22 03:01] #73 closed

[2015-07-22 03:03] tinalatif commented on #181
Merged at 52aaccc2a42db424f6068672d737810fe9e779a6

[2015-07-22 03:03] #181 closed

[2015-07-22 03:04] tinalatif commented on #160
Merged at 898ae666cfc5f1e47f8c1313e97f03b3cf405092

[2015-07-22 03:04] #160 closed

[2015-07-22 03:14] tinalatif commented on #212
I agree that Automator is a weird one. I'm usually strongly in favour for sticking pretty closely to the original icon, but in this case, I'm happy just going with something that somewhat resembles the original. I'd be happy with the version you made

(side note, I also totally thought there were already Mission Control and Image Capture icons, ha)

[2015-07-22 05:36] wjramos commented on #212
I realized I've been using Page Layers as my image capture icon
![page layers](https://cloud.githubusercontent.com/assets/5625810/8818651/ed155c96-2ff8-11e5-908f-8643085a62de.png)

[2015-07-22 19:45] termhn opened #215 "Icon request: Modo, Notability"
There's already an insane amount of icons here to where only two that I have on my doc aren't supported: Notability (which is already flat but the icon is round) and Modo by The Foundry (https://www.thefoundry.co.uk/products/modo/). If you could make those that would be awesome!

[2015-07-23 06:13] HenrySkup opened #216 "LiteIcon vs. El Capitan"
[LiteIcon on MacUpdate](http://www.macupdate.com/app/mac/24764/liteicon)

Does anyone have a suggestion/workaround?

[2015-07-23 19:51] wjramos commented on #197
![finder](https://cloud.githubusercontent.com/assets/5625810/8860567/90cc57cc-3139-11e5-83da-9e92ea895f7b.png)

[2015-07-24 06:15] wjramos opened #217 "Revision: Transmit"
Current Icon
![transmit](https://cloud.githubusercontent.com/assets/5625810/8868763/b2687684-3190-11e5-9ff5-13aa6fe80b1c.png)

Proposed Icon
![transmit2](https://cloud.githubusercontent.com/assets/5625810/8868766/beb3ab8e-3190-11e5-8a5a-f23c5b5d99cd.png)

[2015-07-24 13:04] mknrls commented on #217
@wjramos really like the new one :D amazing

[2015-07-24 18:01] wjramos commented on #216
[I found this](http://forums.macrumors.com/threads/changing-icons-on-os-x-el-capitan.1894403/) suggesting disabling Rootless through terminal or recovery

[2015-07-28 17:23] mcallinder commented on #217
I prefer the old one. I don't think the new one fits the set's theme very well.

[2015-07-31 21:55] michaelonjack opened #218 "Icon request: HandBrake and OpenEmu"
Would love to see these applications get the flat icon treatment.

HandBrake:
![logo](https://cloud.githubusercontent.com/assets/5253312/9018470/2580cd20-37ad-11e5-96e3-4300c78a513c.png)

I found this one which is pretty nice but does has the nice rounded corners
![handbrake](https://cloud.githubusercontent.com/assets/5253312/9018477/3732c672-37ad-11e5-835f-bd42784a7caa.png)

OpenEmu:
![openemu-ic

[2015-08-03 00:39] muhasturk commented on #184
In LiteIcon global menu select **Restore All System Icon**

https://yadi.sk/i/o3IYsifLiEQvq

[2015-08-04 17:52] muhasturk opened #219 "some icons broken on launchpad"
![https://leto9g.storage.yandex.net/rdisk/f3e878d343b3b56a7d24a1d5b56115841c640be704621fe675b04ab3641838d0/inf/OxDgGQKA9JI_S1u1w4SSXyZKybSg1fWDfk-WoM9OYb7_qZlaIS0Qmq6WLkVrVsfhBOfuAceQPcwFrQwujQoHTw==?uid=0&filename=Screen%20Shot%202015-08-04%20at%2020.49.38.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&rtoken=c6832a925c681ea3e7c71e4632526b1d&force_default=no&ycrid=na-be51ac

[2015-08-05 15:49] wjramos commented on #219
Hi @muhasturk, this is a known issue (#151) related to the .icns export script I've been using where the non-retina 16x16 and 32x32 resolutions within the icns package are displaying this 'glitched' appearance.

[2015-08-05 17:30] muhasturk commented on #219
By the way I'm using MacBook Pro Retina Mid 2014. So in this situation, is there anything I can do to fix this except waiting your response?

[2015-08-10 18:47] LiamRahav opened #220 "Icon Request: Spritebuilder"
http://www.spritebuilder.com/

[2015-08-11 23:41] anderson202 opened #221 "calendar text are slanted?"
Hi, I manually installed the calendar icon but the text for the dates are slanted. Is this a bug or intended?

[2015-08-12 00:34] wjramos commented on #221
It's intended as the default dock widget for Calendar. Included in the pack is a slanted Calendar to act as the base for the widget so the numbers look correct

[2015-08-13 15:03] LiamRahav commented on #220
Resolved: ![New Icon Here](https://i.imgur.com/b6q4aQc.png)

[2015-08-13 15:03] #220 closed

[2015-08-23 20:31] samarthmshah opened #222 "How to delete them?"
**I'm sorry but how to delete this?**

I have used it, had my fun. But, now I seriously want to get rid of this. How?

[2015-08-23 22:06] henhouse commented on #154
Any news on a Minecraft one?

[2015-08-23 22:40] mknrls commented on #154
@henhouse will be working on it sometime soon. pc was broken for while, fixed it a weeks ago.
Been busy with life to.

[2015-08-27 19:07] AO16 opened #223 "Icon request: spacemacs"

[2015-09-14 00:11] mknrls commented on #111
so i have been thinking... what the script should be doing
1) Backing all original icons and putting them in safe folder directory (also skip icons that already have been backup), this will assure that the icons can be reverted with no problem/issues.
2) Applying flat.icns and some what match app name to icon name (might be the reason some apps aren't picking up the new icons)
3) Double check icon

[2015-09-15 22:18] FreshRamen commented on #222
This is a duplicate of issue #184

[2015-09-15 22:22] FreshRamen commented on #222
Also #116

[2015-09-20 08:44] theroyalstudent commented on #185
+1 for Self Control. A pretty essential app.

[2015-09-20 08:49] theroyalstudent commented on #216
Is it possible to get the script to avoid changing the icons of System Apps? It would be better for those who do not have access to Recovery (Terminal method does not work anymore if I recall correctly).

[2015-09-23 02:34] wjramos commented on #111
so, we need a file to handle file name and application aliases. the reason why many icons get missed is that it fails  to correlate names like `adobe-illustrator` with Adobe Illustrator, or `sublime-text` with Sublime Text 2/3

[2015-09-27 18:53] muhasturk opened #225 "Did you drop support project?"

[2015-09-28 13:50] snauhaus commented on #221
@anderson202 is right though, the icon does look strange with the slanted text. Maybe it should be changed to accommodate for the fact that the text isn't straight?

[2015-09-28 14:09] josephmilla opened #226 "Icon Request: Facebook Messenger"
It would be great to have a flat desktop icon for this: http://fbmacmessenger.rsms.me/

[2015-09-28 14:14] josephmilla opened #227 "Mac OS X 10.11.1 El Capitan Icon Change Workaround"
Is there a way to bypass the system security (I'm currently using LiteIcon)? It would be really cool if everything is uniform.

[2015-09-28 14:14] josephmilla commented on #225
I hope not

[2015-09-28 14:38] mknrls commented on #225
@muhasturk @josephmilla I don think she did. She probably busy with her own life and work.

[2015-09-28 17:17] wjramos commented on #227
@josephmilla - I linked to a solution for this in #216

[2015-09-28 17:20] wjramos commented on #226
Hey @josephmilla -

I created an icon for FB messenger, for the app Goofy, but it's generic enough to fit any Facebook messenger app (maybe I should rename it to just be Facebook Messenger)

https://github.com/tinalatif/flat.icns/blob/master/pngs/Goofy.png

[2015-09-29 05:03] wjramos commented on #221
I want to make sure: you are referring to the replacement icon for ![Apple's dock calendar icon](https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/Art/CalendarY_2x.png)

Which should be ![flat.icns calendar icon](https://github.com/tinalatif/flat.icns/blob/master/pngs/calendar2-empty.png?raw=true)

I don't have Apple calendar installed to verify, but I

[2015-09-29 09:39] snauhaus commented on #221
You're right, my bad. I was using the wrong icon, which I'm guessing is the case for @anderson202 as well.

[2015-09-29 19:45] jameswlane commented on #131
I was updating my icons today and noticed that this issue / icon is still left open. Is there any movement on this? Thank you again for making this icon.

[2015-09-30 13:59] josephmilla commented on #216
Did this `sudo nvram boot-args="rootless=0"` and tried changing the icons through LiteIcon, still didn't change it

[2015-09-30 20:38] Foggalong commented on #9
I'm looking to make an OSX icon theme using flat.icns as a template to get started. The vector work will be all our own but we want to use this script, file structure, etc and so knowing how we should license would be very useful

[2015-10-01 04:08] dbkaplun commented on #188
+1

[2015-10-01 04:09] dbkaplun commented on #128
@mknrls how's the mobo?

[2015-10-01 05:44] mknrls commented on #128
@dbkaplun My bad fixed my custom pc (new motherboard + cpu) a week after posting this, also got new 2015 15" macbook pro retina like my old 2011 15" macbook pro decided to stop functioning 3 days after my custom pc broke. Completely forgot about these icons, will be doing a pull request by the end of this week or this weekend  :P  -__-"

[2015-10-02 15:30] joseluisq opened #228 "Icon Request: Postman"
![image](https://cloud.githubusercontent.com/assets/1700322/10250474/9c3b7dc4-68f0-11e5-9a4b-e8f4c94a8802.png)

https://www.getpostman.com/

[2015-10-04 18:30] josephmilla commented on #226
@wjramos Looks nice! Thanks!

[2015-10-04 18:30] #226 closed, assigned to nobody

[2015-10-04 18:31] josephmilla commented on #218
+1 for Handbrake

[2015-10-04 18:33] josephmilla opened #229 "Icon Request: Volumes"
- Hard Drive
- Time Machine HD
- External HD

[2015-10-05 14:50] snauhaus commented on #216
That didn't work for me either. However, [the tutorial steps by lifehacker to disable SIP](http://lifehacker.com/how-to-fix-os-x-el-capitans-annoyances-1733836821) did.
1. Restart in Recovery Mode (press CMD + R during restart)
2. Choose Utilities > Terminal
3. Run `csrutil disable`
4. Restart again

The new version of [Liteicon](http://www.freemacsoft.net/liteicon/) supports El Capitan too.

[2015-10-06 02:56] michaelonjack commented on #218
I created one using that sample I posted if you liked that..

![handbrake](https://cloud.githubusercontent.com/assets/5253312/10299106/42bf5600-6bb4-11e5-9f56-4266aae23db5.png)

[2015-10-06 23:54] michaelonjack commented on #218
Here's my (very) flawed attempt at OpenEmu that could use some cleaning

![openemu](https://cloud.githubusercontent.com/assets/5253312/10325977/1c72ae38-6c64-11e5-9a73-a1d8573e67c3.png)

[2015-10-08 18:18] wjramos commented on #218
I'll take a crack at these later today

[2015-10-08 18:18] wjramos commented on #229
+1   -- I will try to make at least a base for these

[2015-10-09 01:00] wjramos commented on #218
![handbrake](https://cloud.githubusercontent.com/assets/5625810/10383755/e3563ebe-6de7-11e5-8b0e-705085d322ef.png)

[2015-10-09 01:22] wjramos commented on #218
![openemu](https://cloud.githubusercontent.com/assets/5625810/10383893/913e554c-6de9-11e5-814a-19235c22915a.png)

[2015-10-09 01:33] michaelonjack commented on #218
Very awesome, thanks!

[2015-10-09 01:45] wjramos commented on #218
pr issued #230

[2015-10-15 23:22] enbrent opened #231 "Icon Request: Genymotion"

[2015-10-24 21:19] #221 closed

[2015-10-26 14:50] jacolin-web opened #232 "Icon Request: Final Cut Pro"
![image](https://cloud.githubusercontent.com/assets/9473780/10732280/b6cd2fd8-7bcf-11e5-8f6a-4387a4de58fd.png)

[2015-10-26 21:39] sunabozu opened #233 "Steam icon reverts to default when app's running"
I'm not quite sure if it's appropriate to create this issue here, so excuse me in advance. The title is self-explanatory. After using Liteicon new icon's only visible when Steam isn't running. I tried to replace another icon inside Steam.app, but it didn't work.
Is there a way to make it consistent?

[2015-10-29 05:28] wjramos commented on #233
Steam has a sub-application for the main client with a separate icon. The main application addressed by lite icon is the launcher, and to change the client icon, you will have to manually change it in the app's package contents

[2015-10-29 08:23] sunabozu commented on #233
Yes, I figured that out and replaced it (in fact,the app stores two instances of that icon). But during each start Steam evidently checks its integrity and in case of such replacement downloads old icons and put them in place.
I even tried to lock those files, but surprisingly it didn't help. Steam somehow shows old icon despite the new one stays untouched. It seems like Valve really likes that ro

[2015-11-01 02:21] n0mar opened #235 "Colors icon overlap"
Is it just me or does the Colors icon (all files – .ai, .png, .icns) have an overlapping issue? Plus, it seems like all corners of the triangles don't meet up exactly to the centre :confused:

Thanks!

[2015-11-08 21:52] adv0r commented on #216
@FreshRamen : not really

<img width="490" alt="screen shot 2015-11-08 at 22 51 11" src="https://cloud.githubusercontent.com/assets/776957/11022908/6ba54094-866b-11e5-8dae-b02563348d6d.png">

[2015-12-01 17:03] lvarayut opened #236 "SysError -5000 during create of "/Applications/app store.app/Icon"
I got the following error while running `sudo ./install.sh` on El capitan:

[code]

[2015-12-05 01:24] tsgrissom opened #237 "Icon request: Nylas N1"
https://www.nylas.com/n1

[2015-12-05 01:43] tsgrissom opened #238 "Icon request: DaisyDisk"

[2015-12-05 01:44] tsgrissom opened #239 "Icon request: Spotify (Read)"
I am aware there is already a Spotify icon. It would be nice if the colors were updated to the new shade of green that Spotify uses.

[2015-12-05 01:46] tsgrissom opened #240 "Icon request: Plaaying"
https://itunes.apple.com/us/app/plaaying/id1034990428?mt=12

[2015-12-05 03:05] tsgrissom opened #241 "Icon request: Photo Booth"

[2015-12-05 03:07] tsgrissom opened #242 "Icon request: SourceDrop"

[2015-12-05 03:07] tsgrissom opened #243 "Icon request: QuickTime Player"

[2015-12-05 03:23] tsgrissom opened #244 "Icon request: Shazam"

[2015-12-09 18:30] wjramos commented on #236
This is most likely due to newly implemented application integrity enforcement in el capitan

[2015-12-11 16:24] lvarayut commented on #236
Thanks for your response. Any work around I can do to get rid of this problem?

[2015-12-14 18:26] grahlie commented on #236
Having the same problem, is there a way around this? Like a "skip" function for just app store?

[2015-12-29 14:18] michaelonjack commented on #243
![quicktime](https://cloud.githubusercontent.com/assets/5253312/12035715/1d0faa86-ae0d-11e5-82b1-517cb00799d2.png)

[2016-01-10 23:57] byBretema opened #245 "Icon Request: Typora"

[2016-02-03 12:01] danielsatanik opened #246 "Icon Request: Telegram"
https://telegram.org/

[2016-02-05 05:52] briantkatch opened #247 "Icon Requests: Deliveries, Prizmo, Screens, Ulysses"
- [Deliveries](http://junecloud.com/software/mac/deliveries.html)
- [Prizmo](http://www.creaceed.com/prizmo)
- [Screens](http://edovia.com/screens/#mac)
- [Ulysses](http://ulyssesapp.com/mac/)

[2016-02-05 07:07] mcallinder opened #248 "Icon Request: Quiver"
http://happenapps.com/#quiver

![Quiver Icon](http://a4.mzstatic.com/eu/r30/Purple69/v4/ae/48/7d/ae487da9-5836-16b9-e33d-cee66a06b0d0/icon256.png)

[2016-02-05 07:08] mcallinder opened #249 "Icon Request: CodeRunner"
https://coderunnerapp.com/

![CodeRunner Icon](http://krillapps.com/images/coderunner-256.png)

[2016-02-05 07:10] mcallinder opened #250 "Icon Request: CCleaner"
http://www.piriform.com/ccleaner

![CCleaner Icon](http://www.macupdate.com/images/icons256/41220.png)

[2016-02-05 07:12] mcallinder opened #251 "Icon Request: Caffeine"
http://lightheadsw.com/caffeine/

![LastPass Icon](http://a2.mzstatic.com/us/r30/Purple/v4/eb/ba/44/ebba447f-a54b-d50b-41af-8721186cd351/icon128-2x.png)

[2016-02-05 07:13] mcallinder opened #252 "Icon Request: Divvy"
http://mizage.com/divvy/

![LastPass Icon](http://www.macupdate.com/images/icons256/33950.png)

[2016-02-14 17:42] wjramos commented on #236
We are actually recommending against using the shell script for now, because it hasn't been adjusted for the changes in the environment. Unfortunately this means you'd have to apply each icon individually through liteicon

[2016-02-27 02:56] #245 closed, assigned to nobody

[2016-03-17 04:31] nagmak opened #253 "Icon request: SelfControl"
https://selfcontrolapp.com/
![image](https://cloud.githubusercontent.com/assets/16668970/13836430/bcd17f38-ebd7-11e5-9178-c012cc9c1eb9.png)

[2016-03-26 16:51] HotAirBalloonist opened #255 "New Icon"
Can you make a Hot Air Balloon Icon please?

[2016-04-21 10:57] butterthebuddha opened #256 "Icon Request: Polymail and Visual Studio Code"

[2016-04-23 14:44] danielsatanik opened #257 "Icon Request: Franz"
http://meetfranz.com/

[2016-05-16 23:15] lkafka opened #260 "Icon Request: Tidal & Inspiration 9"
http://tidal.com/us
http://www.inspiration.com/Inspiration

[2016-05-16 23:48] lkafka commented on #260
http://tidal.com/us

[2016-05-20 19:15] thierrybgentile opened #261 "Icon Request: Scribus"
https://www.scribus.net/
Was surprised not to see it there. Thank you so much!

[2016-06-09 15:45] madn3ss75 commented on #236
You need to disable the **System Integrity Protection** feature.
1. Restart your mac and hold CMD + R until you reach Recovery screen.
2. Open terminal
3. Enter this command: `csrutil disable`
4. Reboot & enjoy.

After the customization you can enable the SIP again, by repeating steps 1-4, using the command `csrutil enable`.

[2016-07-02 13:34] adamxp12 commented on #256
Just letting you know that these icons are in a pull request I just made, you can download them individually from there as it seems the author is not actively accepting pull requests at the moment.

[2016-07-06 10:11] CreatedBySeb commented on #233
It's not about Valve liking or disliking the icon, it's about them wanting to protect the content of Steam by validating every file so that it is correct, and people can't pirate games or cheat in them. You should close this as the author can't do anything about this.

[2016-07-06 10:21] CreatedBySeb commented on #239
I have fixed the Spotify colour in this pull request, if the author chooses to merge it. #263

[2016-07-06 10:22] CreatedBySeb commented on #227
The newest version of LiteIcon (as on Wednesday the 6th of July 2016) supports changing icons on Mac OS X El Capitan perfectly fine. This issue can be closed.

[2016-07-06 10:22] CreatedBySeb commented on #216
The newest version of LiteIcon (as on Wednesday the 6th of July 2016) supports changing icons on Mac OS X El Capitan perfectly fine. This issue can be closed.

[2016-07-06 10:48] runbiscuit commented on #216
@sebastienfulmer That's if you turn off your System Integrity Protecion (SIP), otherwise it still doesn't work, for users who do not want to disable the feature (an easy majority of the crowd).

[2016-07-06 11:21] #233 closed, assigned to nobody

[2016-07-06 11:48] CreatedBySeb commented on #116
In my pull request #263 I have added an uninstaller script that works perfectly, it does require re-running the installer script first though, as I've made some necessary updates to that.

[2016-07-06 12:17] CreatedBySeb commented on #184
I have an uninstaller script in my PR #263, if you run the installer again then the uninstaller it'll fix all your icons.

[2016-07-06 17:15] CreatedBySeb commented on #261
![scribus](https://cloud.githubusercontent.com/assets/11736217/16627509/847286c0-43a5-11e6-84f0-dc67a653dc98.png)
I tried to capture the original logo's look, while keeping it simple, what do you think? (I might add the bit between the two sections of nib to make it more distinguishable)

[2016-07-06 17:20] CreatedBySeb commented on #260
![tidal](https://cloud.githubusercontent.com/assets/11736217/16627672/30bffc8c-43a6-11e6-9f10-37ab2c0ee24a.png)
I replicated the Tidal logo fairly easily, but I couldn't find an Inspiration 9 one to base a design of off, could you send me the one that came with yours? (Right click on the app, click View Package Contents, go to Contents/Resources and attach the icns file you find)

[2016-07-06 17:24] CreatedBySeb commented on #257
![franz](https://cloud.githubusercontent.com/assets/11736217/16627830/dfd2a800-43a6-11e6-885d-2c543f924939.png)
Is this good?

[2016-07-06 17:27] CreatedBySeb commented on #253
![selfcontrol](https://cloud.githubusercontent.com/assets/11736217/16627908/39c8243e-43a7-11e6-836d-453d5b746483.png)
Is this to your liking?

[2016-07-06 17:35] CreatedBySeb commented on #252
I wasn't sure what to do with this one, since it's a bit of a complicated original, so I only carried over the arrow.
![divvy](https://cloud.githubusercontent.com/assets/11736217/16628157/5ed5869e-43a8-11e6-98ec-495da302ae06.png)

[2016-07-06 18:19] nagmak commented on #253
@sebastienfulmer Looks great! Thanks!

[2016-07-06 19:45] CreatedBySeb commented on #253
Cool, I've added it to my fork sebastienfulmer/flat.icns and hopefully it'll be pulled in!

[2016-07-06 20:13] thierrybgentile commented on #261
I like it! It's really cool though I do think it would look better with that gap.

[2016-07-07 04:07] lkafka commented on #260
Hi,

Thanks so much for doing that, love your designs on the rest of them too.
No worries if you’re too busy to get to it but I found the Inspiration 9
icon.

Thanks so much,

Leo

On July 6, 2016 at 1:20:46 PM, Sébastien Fulmer (notifications@github.com)
wrote:

[image: tidal]
https://cloud.githubusercontent.com/assets/11736217/16627672/30bffc8c-43a6-11e6-9f10-37ab2c0ee24a.png
I replicated the Ti

[2016-07-07 13:51] CreatedBySeb commented on #260
I'd be happy to do the Inspiration 9 one for you, but the logo doesn't seem to have attached properly. If you attached it to the email sometimes that doesn't work, so it's easier to go to the thread directly (https://github.com/tinalatif/flat.icns/issues/260) and attach it by drag & drop.

[2016-07-07 14:00] CreatedBySeb commented on #261
I added the little gap, and pushed it to my fork

[2016-07-07 14:01] CreatedBySeb commented on #216
@theroyalstudent I haven't turned off System Integrity Protection, and I'm using a fresh enough install of El Capitan (a couple of months at most) so unless something can do it without your permission, it works fine for me without disabling SIP.

[2016-07-07 16:34] CreatedBySeb commented on #250
How's this?
![ccleaner](https://cloud.githubusercontent.com/assets/11736217/16661066/0dcc3330-4469-11e6-91d1-a05e3844413b.png)

[2016-07-07 16:38] CreatedBySeb commented on #249
How's this?
![coderunner](https://cloud.githubusercontent.com/assets/11736217/16661184/a6754df6-4469-11e6-9957-1ffea6d75d7e.png)

[2016-07-07 17:00] CreatedBySeb commented on #247
Ulysses and Screens were easy, Deliveries was a bit harder, because adding the text and barcode complicates the image a fair bit. I may add the barcode to help differentiate it in the end, but the text won't work. Prizmo wasn't too bad, but the text again complicates it, so I've left it out in this draft, if you have any suggestions just say so 😄
![deliveries](https://cloud.githubusercontent.com/a

[2016-07-07 17:04] CreatedBySeb commented on #246
How's this?
![telegram](https://cloud.githubusercontent.com/assets/11736217/16661934/30150b8e-446d-11e6-948f-af0a8d4b57cb.png)

[2016-07-07 20:12] briantkatch commented on #247
Thanks a ton for the amazing icons!

I think that the icons for Deliveries and Prizmo look just fine without the text, but I'm thinking that Screens might look better on a dark background. I used the hex value of the black used in the Ulysses icon for consistency and make this mockup:

![b7ba51b2-446c-11e6-9f75-11eb353517a9 copy](https://cloud.githubusercontent.com/assets/10686291/16668081/692aade

[2016-07-08 10:56] CreatedBySeb commented on #247
I see what you mean, I'm going to swap the screens icon to the dark used in Ulysees and push all 4 to my fork. Thanks

[2016-07-10 16:32] lkafka commented on #260
[Inspiration.icns.zip](https://github.com/tinalatif/flat.icns/files/356097/Inspiration.icns.zip)
Hopefully that works. Thanks again!

[2016-08-05 18:22] paanvaannd commented on #237
Seconded! I would really appreciate an icon for this application as well :+)

[2016-11-04 16:50] CoMmUnIsTdOmO opened #265 "Icon Request: BlueStacks and DesMuMe"
[https://www.bluestacks.com](url)
[https://desmume.org](url)

[2016-11-07 13:51] CoMmUnIsTdOmO opened #266 "Icon Request: Minecraft"

[2016-12-12 15:01] c2xbrhdj6u4qs15 opened #267 "Icon Request: Cisco AnyConnect"
Hi,

Could you add the Cisco AnyConnect Icon please.

Thanks in advance

[2017-02-20 18:03] dbkaplun opened #268 "Icon request: 1Clipboard"
Thanks again for making such an awesome icon pack!

[2017-03-30 17:07] #184 closed

[2017-06-30 11:05] dnikic commented on #98
Long time has past, but maybe this still interest someone.
![cinema 4d](https://user-images.githubusercontent.com/29796496/27733116-ac08ad22-5d94-11e7-8f3a-29831a78b7b5.png)

[2017-07-03 16:57] lkl2050 opened #269 "Icon request: Rstudio"
Many people use Rstudio for data analysis. But the original icon is really ugly!

Thank you!

[2017-07-07 14:31] viktorstrate opened #270 "A Fork to keep the project alive"
The project has been dead for 2 years now, but I really like it and want it to continue. And I have therefore made a fork of this repo.

I have already merged many of the pull requests from this repo into my fork. Besides that have I made it much easier to generate icns and png files from vector graphics.

If the maintainer becomes active again, I will happily help get this (the original) repo, up

[2017-07-07 17:18] viktorstrate commented on #241
I have made a fork of this repo, where i have added an icon for photo booth. [Link to fork](https://github.com/viktorstrate/flat.icns) ![Icon](https://raw.githubusercontent.com/viktorstrate/flat.icns/master/pngs/Photo%20Booth.png)

[2017-07-23 00:25] danielsatanik commented on #246
Thank you very much it is great :D

[2017-07-23 00:26] danielsatanik commented on #257
It is great

[2017-07-23 00:35] danielsatanik opened #271 "Icon Request: Cakebrew, Beamer, Typora, Texpad, CleanMyMac, Cryptomator, IINA"
I love your icons by the way…

[2017-07-23 21:10] viktorstrate commented on #246
I have added this icon to my fork if you are interested @danielsatanik, viktorstrate/flat.icns@37c2be9324fdad8626d9d12460518b70b2e80a29

[2017-07-23 23:50] viktorstrate commented on #225
I have started a fork, to keep this awesome project alive. https://github.com/viktorstrate/flat.icns

[2017-08-03 11:10] danielsatanik opened #272 "Icon Request: Microsoft Teams"
https://products.office.com/en-us/microsoft-teams/group-chat-software

[2017-08-27 11:30] viktorstrate commented on #272
![microsoft teams 1024](https://user-images.githubusercontent.com/4233458/29749440-d2f5be1a-8b2b-11e7-87b7-c2babd92069b.png)

I have added this icon to [my fork](https://github.com/viktorstrate/flat.icns)

[2017-08-27 11:49] viktorstrate commented on #269
![rstudio 1024](https://user-images.githubusercontent.com/4233458/29749526-6e7cc994-8b2e-11e7-8c6c-dc1fe28e6ad6.png)

I've added this icon to [my fork](https://github.com/viktorstrate/flat.icns)

[2017-08-27 11:57] viktorstrate commented on #244
![shazam 1024](https://user-images.githubusercontent.com/4233458/29749565-c6d62e04-8b2f-11e7-84cb-edc4539f3f1f.png)

I have added this icon to [my fork](https://github.com/viktorstrate/flat.icns)

[2017-09-05 18:12] ghost opened #273 "macOS Sierra Icon Corruption"
folder-generic.icns

Folder icons in Safari Bookmarks render incorrectly / are corrupted.

Other apps that use the same resource also are corrupted

<img width="320" alt="screen shot 2017-09-05 at 19 11 01" src="https://user-images.githubusercontent.com/919588/30075577-0ef8aa28-926e-11e7-8b3c-038c77c44c8f.png">

[2017-09-06 05:10] viktorstrate commented on #273
Check out my fork, I am using a build script, to generate consistent icns files.

[Link to my fork](https://github.com/viktorstrate/flat.icns)

[2017-09-06 09:23] ghost commented on #273
Thank you, works perfectly.

[2017-10-18 09:23] viktorstrate commented on #266
I have added an icon for Minecraft on [my fork](https://github.com/viktorstrate/flat.icns)

![Icon](https://github.com/viktorstrate/flat.icns/raw/master/iconsets/Minecraft.iconset/icon_1024x1024%402x.png)

[2017-10-19 13:28] danielsatanik commented on #272
@viktorstrate: May I actually ask how to export from Illustrator to SVG, so that your build script works? I seem not to be able to. E.g. when I try to build the red calender icon myself, the red bar is not cut by the borders like this

![calendar3 256](https://user-images.githubusercontent.com/2507586/31773145-14544446-b4e2-11e7-806b-678800dcc5d6.png)

[2017-10-19 18:56] viktorstrate commented on #272
@danielsatanik: If you own Illustrator, you can export to svg under File -> Export. Otherwise you can use Inkscape to open the illustrator files, and then export it to svg that way (File -> Save As -> Optimized SVG).

[2017-11-07 18:44] ghost opened #274 "Icon Request: FocusAtWill, Acellus, Airfoil, and Lego Digital Designer"
Hello,
I am requesting 3 app icons. They are FocusAtWill, Acellus, Airfoil, and Lego Digital Designer. I will leave the original icon down below. Please let me know when you have finished.
Thanks!
Joedoe561
![unnamed](https://user-images.githubusercontent.com/33463614/32511370-986d0f90-c3c1-11e7-90ea-d282b00f1d07.png)
![app-icon png](https://user-images.githubusercontent.com/33463614/32511378-9e9a

[2017-11-21 16:01] #131 closed

[2017-12-15 08:34] danielsatanik opened #275 "Icon Request: Insomnia"
https://insomnia.rest

[2017-12-15 12:40] viktorstrate commented on #275
@danielsatanik I have uploaded an icon to [my fork](https://github.com/viktorstrate/flat.icns)
![icon_1024x1024 2x](https://user-images.githubusercontent.com/4233458/34042558-8b408b36-e19d-11e7-9f4b-62b2dbb2a719.png)

[2017-12-15 14:22] danielsatanik commented on #275
damn you are fast :D

[2017-12-16 08:53] viktorstrate commented on #275
Yeah, i guess you posted the issue on the right time 😄

[2017-12-27 13:44] dnivi3 commented on #270
@viktorstrate: there does not seem to be a way to submit issues to your fork, for example to request additional icons. Is that intentional?

[2017-12-27 15:18] viktorstrate commented on #270
@dnivi3: This was not intentional, I don't know why it was disabled. I have enabled it now. :)

[2018-02-06 03:23] #215 closed

[2018-02-13 19:15] #190 closed

[2018-02-13 19:16] #246 closed, assigned to nobody

[2018-02-13 19:16] #257 closed, assigned to nobody

[2018-02-13 19:16] #271 closed, assigned to nobody

[2018-02-13 19:17] #272 closed, assigned to nobody

[2018-02-13 19:19] #275 closed, assigned to nobody

[2018-11-30 07:42] graham-g-brown opened #277 "Mathematica"
Mathematica is an amazingly useful mathematical application frequently used in mathematical and scientific research. Please make an icon :)!

[2018-12-12 02:55] graham-g-brown commented on #277
![mathematica](https://user-images.githubusercontent.com/23623192/49844062-6e734980-fd8f-11e8-8b8e-31853f29197d.png)

[2018-12-13 14:57] viktorstrate commented on #277
@tinalatif (the maintainer) has not been active for several years. I have made a fork [here](https://github.com/viktorstrate/flat.icns) to keep the project alive, see #270 for more info.

I will happily add your icon to that fork, but the icon needs to be in an svg file format, to properly build it into a high resolution `.icns` icon file.

I do think however that the shadow should be removed, as

[2019-01-10 21:17] jaketame opened #278 "Request: Omnigraffle"
I would quite like OmniGraffle :)

Thanks

[2019-01-10 21:18] jaketame opened #279 "Request: Bitwarden"
Please can I request BitWarden

[2019-01-10 21:19] jaketame opened #280 "Request: Trello"
Please can I request Trello

[2019-01-10 21:20] jaketame opened #281 "Request: Webex"
Please can I request Webex

[2019-01-11 09:12] viktorstrate commented on #278
This project have been inactive for over 3 years.
I have therefore made a fork to keep the project alive, [link to my fork](https://github.com/viktorstrate/flat.icns).
Where an icon for Omnigraffle already have been added, along with many more.

[2019-01-11 22:45] jaketame commented on #278
Thanks. Missed that!

[2019-01-11 22:45] #278 closed, assigned to nobody

[2019-07-03 16:31] #217 closed

[2019-07-03 16:31] #197 closed

[2019-07-03 16:32] #111 closed

[2020-12-09 09:59] #171 closed